extends ../../../includes/layout

block variables
  - const title = "Fylo data storage component";

block fonts
  +googleFonts([ 'family=Raleway&display=swap&text=You%E2%80%99ve%20sdfyrtag', 'family=Raleway:wght@700&display=swap&text=815%20GB0LEFT' ])

block content
  main.content
    .control
      img(src='logo.svg' alt='Fylo logo')
      ul.toolbar
        li: button.iconBtn.newFile(aria-label='Create new file')
        li: button.iconBtn.newDir(aria-label='Create new directory')
        li: button.iconBtn.upload(aria-label='Upload')
    .status

//- You’ve used 815 GB of your storage
//- 185 GB Left
//- 0 GB
//- 1000 GB
