@import '../../../../node_modules/reset-css/sass/reset';
@import '../../../includes/defaults';

@mixin smUp {
  @media (min-width: rem(768px)) {
    @content;
  }
}

@mixin mdUp {
  @media (min-width: rem(1024px)) {
    @content;
  }
}

:root {
  --c-pale-blue: hsl(243, 100%, 93%);
  --c-grayish-blue: hsl(229, 7%, 55%);
  --c-dark-blue: hsl(228, 56%, 26%);
  --c-very-dark-blue: hsl(229, 57%, 11%);
  --c-peach: hsl(6, 100%, 80%);
  --c-magenta: hsl(335, 100%, 65%);
  --c-light: white;
}

.content {
  display: grid;
  grid-auto-columns: minmax(0, 54rem);
  grid-gap: 1.6rem;
  grid-template-columns: minmax(0, 35rem);
  align-content: center;
  justify-content: center;
  height: 100vh;
  padding: 6.4vmin;
  background: center / 100% 100% url(bg-mobile.svg);
  @include smUp {
    grid-auto-flow: column;
    grid-gap: 3rem;
  }
  @include mdUp {
    background: bottom / 100% 52.5% no-repeat url(bg-desktop.svg),
      var(--c-very-dark-blue);
    > * {
      margin-bottom: 2.1rem;
    }
  }
}

.control {
  padding: 4rem;
  background: var(--c-dark-blue);
  border-radius: 1rem;
  border-top-right-radius: 10rem;
}

.toolbar {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.6rem;
  justify-content: start;
  margin-top: 3.2rem;
  > li {
    display: flex;
  }
}

.iconBtn {
  width: 4.8rem;
  height: 4.8rem;
  padding: 0;
  padding: 0;
  background-color: var(--c-very-dark-blue);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    filter: brightness(1.3);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem var(--c-grayish-blue);
  }
  &:active {
    transform: translateY(0.2rem);
  }
}

.newFile {
  background-image: url(icon-document.svg);
}

.newDir {
  background-image: url(icon-folder.svg);
}

.upload {
  background-image: url(icon-upload.svg);
}

.status {
  display: grid;
  grid-template:
    'stats' auto
    'badge' 1fr
    'badge' 1fr
    / 1fr;
  @include smUp {
    grid-template:
      'badge' 1fr
      'badge' 1fr
      'stats' auto
      / 1fr;
  }
}

.bg {
  grid-area: 1 / 1 / span 2;
  background: var(--c-dark-blue);
  border-radius: 1rem;
  @include smUp {
    grid-row-start: 2;
  }
}

.stats {
  display: block;
  grid-area: stats;
  margin-top: -0.7rem;
  padding: 3.2rem 3.2rem 1.6rem;
  text-align: center;
  @include smUp {
    padding: 0 4rem 4rem;
    text-align: left;
  }
}

.label {
  color: var(--c-light);
  font: 1.4rem Raleway, sans-serif;
  > span {
    font-weight: 700;
  }
}

.meter {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-top: 1.6rem;
}

.bar {
  --value: 0.815;
  width: 100%;
  height: 2rem;
  padding: 0.3rem;
  background: var(--c-very-dark-blue);
  border-radius: 1rem;
  > div {
    position: relative;
    width: calc(1.4rem + (100% - 1.4rem) * var(--value));
    height: 100%;
    background: linear-gradient(to right, var(--c-peach), var(--c-magenta));
    border-radius: 0.7rem;
    &::after {
      position: absolute;
      top: 0.2rem;
      right: 0.2rem;
      width: 1rem;
      height: 1rem;
      background: var(--c-light);
      border-radius: 50%;
      content: '';
    }
  }
}

.limit {
  margin-top: 0.8rem;
  color: var(--c-light);
  font: 700 1.2rem Raleway, sans-serif;
}

.badge {
  grid-area: badge;
  justify-self: center;
  > div {
    display: flex;
    align-items: center;
    padding: 1.2rem 2.4rem;
    color: var(--c-grayish-blue);
    font: 700 1.3rem Raleway, sans-serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    background: var(--c-light);
    border-radius: 1rem;
    > span {
      margin-right: 0.8rem;
      color: var(--c-very-dark-blue);
      font-size: 4rem;
      line-height: 120%;
    }
    @include smUp {
      border-bottom-right-radius: 0;
    }
  }
  @include smUp {
    justify-self: end;
    margin-right: 4rem;
    &::after {
      display: block;
      width: 0;
      margin-top: -0.1rem;
      margin-left: auto;
      border-top: 2.3rem solid var(--c-light);
      border-left: 2.3rem solid transparent;
      content: '';
    }
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}
