<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Github user search app</title>
    <meta
      name="description"
      content='A frontendmentor.io "Github user search app" challenge solution by Alex Kim'
    />
    <meta name="author" content="<%- author %>" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%- favicon %>" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- fonts -->
    <script type="module" src="/index.js"></script>
  </head>
  <body>
    <h1>New challenge!</h1>
    <pre hidden>
      devfinder

      Light
      Dark

      Search GitHub username...
      Search

      Joined

      Repos
      Followers
      Following
    </pre>
  </body>
</html>
