<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Github user search app</title>
    <meta
      name="description"
      content='A frontendmentor.io "Github user search app" challenge solution by Alex Kim'
    />
    <meta name="author" content="<%- author %>" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%- favicon %>" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="/index.js"></script>
  </head>
  <body>
    <main class="app-container">
      <header class="header">
        <h1 class="header__title">devfinder</h1>
        <button
          class="theme-switch"
          type="button"
          role="switch"
          aria-checked="false"
          aria-labelledby="label-theme-switch"
        >
          <span id="label-theme-switch" class="sr-only">Dark theme</span>
        </button>
      </header>
      <form class="surface form" name="Search form">
        <label class="text-field form__field">
          <span class="sr-only">Github username</span>
          <i class="icon-search text-field__icon"></i>
          <input
            type="text"
            class="text-field__input"
            name="username"
            placeholder="Search GitHub username…"
          />
        </label>
        <button type="submit" class="btn form__submit">Search</button>
      </form>
      <article class="surface content">
        <div class="content__avatar">
          <img src="https://fakeimg.pl/100" alt="User's avatar" />
        </div>
        <h2 class="content__name">The Octocat</h2>
        <p class="content__login">
          <a href="#" class="link" target="_blank">@octocat</a>
        </p>
        <p class="content__join-date">Joined 25 Jan 2011</p>
        <p class="content__bio">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
          Quisque volutpat mattis eros.
        </p>
        <dl class="content__meta">
          <dt class="content__meta-title">Repos</dt>
          <dd class="content__meta-value">8</dd>
          <dt class="content__meta-title">Followers</dt>
          <dd class="content__meta-value">3938</dd>
          <dt class="content__meta-title">Following</dt>
          <dd class="content__meta-value">9</dd>
        </dl>
        <ul class="content__details">
          <li class="content__details-item" data-icon="location">
            San Francisco
          </li>
          <li class="content__details-item" data-icon="website">
            <a href="#" target="_blank" rel="noopener noreferrer">
              https://github.blog
            </a>
          </li>
          <li class="content__details-item muted" data-icon="twitter">
            Not Available
          </li>
          <li class="content__details-item" data-icon="company">
            <a href="#" target="_blank" rel="noopener noreferrer">@github</a>
          </li>
        </ul>
      </article>
    </main>
  </body>
</html>
