@import "modern-css-reset";

/* Variables */

:root {
  --accent: hsl(212deg 100% 50%);
  --accent-light: hsl(212deg 100% 69%);
  --danger: hsl(0deg 91% 62%);
  --text: hsl(217deg 35% 45%);
  --text-accent: hsl(217deg 21% 21%);
  --text-secondary: hsl(217deg 20% 51%);
  --bg-primary: hsl(227deg 100% 98%);
  --bg-secondary: hsl(0deg 0% 100%);
  --surface-shadow: 0 1.6rem 3rem -1rem hsla(227deg 46% 51% / 20%);
  --icon-filter: none;
}

body[data-theme="dark"] {
  --text: hsl(0deg 100% 100%);
  --text-accent: hsl(0deg 100% 100%);
  --text-secondary: hsl(0deg 100% 100%);
  --bg-primary: hsl(220deg 40% 13%);
  --bg-secondary: hsl(222deg 41% 20%);
  --surface-shadow: none;
  --icon-filter: brightness(5);
}

/* Utils */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.muted {
  opacity: 0.5;
  mix-blend-mode: normal;
  transition: opacity 0.25s, mix-blend-mode 0.25s;
}

/* Base */

html {
  font-size: 62.5%;
}

body {
  color: var(--text);
  font-size: 1.6rem;
  font-family: "Space Mono", monospace;
  line-height: normal;
  word-break: break-word;
  background-color: var(--bg-primary);
  font-variant-ligatures: common-ligatures;
}

img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Components */

.theme-switch {
  display: inline-flex;
  align-items: center;
  padding: 0.8rem 0;
  border: none;
  color: var(--text);
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: calc(2.5 / 13 * 1em);
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.theme-switch::before {
  content: "Dark";
}

.theme-switch[aria-checked="true"]::before {
  content: "Light";
}

.theme-switch::after {
  width: 2rem;
  height: 2rem;
  margin-left: 1.6rem;
  background: center / contain no-repeat url("./images/icon-moon.svg");
  content: "";
}

.theme-switch[aria-checked="true"]::after {
  background-image: url("./images/icon-sun.svg");
}

.theme-switch:hover,
.theme-switch:active {
  filter: brightness(0) invert(8%) sepia(12%) saturate(1744%) hue-rotate(181deg) brightness(93%) contrast(83%);
}

.theme-switch[aria-checked="true"]:hover,
.theme-switch[aria-checked="true"]:active {
  filter: brightness(0) invert(72%) sepia(45%) saturate(684%) hue-rotate(189deg) brightness(89%) contrast(84%);
}

.surface {
  border-radius: 1.5rem;
  background-color: var(--bg-secondary);
  box-shadow: var(--surface-shadow);
}

.icon-search {
  display: block;
  width: 2rem;
  height: 2rem;
  background:
    center / contain no-repeat url("./images/icon-search.svg"),
    transparent;
}

.text-field {
  display: grid;
  grid-gap: 0.8rem;
  grid-template: auto / auto 1fr;
  align-items: center;
}

.text-field__icon {
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 0.8rem;
}

.text-field__input {
  caret-color: var(--accent);
  grid-area: 1 / 1 / 2 / -1;
  width: 100%;
  min-width: 0;
  min-height: 4.6rem;
  padding-left: calc(2rem + 0.8rem * 2);
  border: none;
  color: var(--text);
  font-size: 1.3rem;
  background-color: transparent;
}

.text-field__input::placeholder {
  color: inherit;
}

.btn {
  --color: hsl(0deg 0% 100%);
  --bg-color: var(--accent);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 1rem;
  color: var(--color);
  font-weight: 700;
  font-size: 1.4rem;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:disabled {
  cursor: not-allowed;
  filter: saturate(0.3) contrast(0.7);
}

.btn:enabled:hover,
.btn:enabled:active {
  background-color: var(--accent-light);
}

.btn--loading {
  color: transparent;
}

.btn--loading::after {
  position: absolute;
  top: calc(50% - 1.2rem);
  left: calc(50% - 1.2rem);
  width: 2.4rem;
  height: 2.4rem;
  border: 0.2rem solid var(--color);
  border-color: var(--color) transparent;
  border-radius: 50%;
  animation: rotate 1.2s linear infinite;
  content: "";
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.meta {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.8rem 1.2rem;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  justify-items: center;
  max-width: 100%;
  padding: 1.8rem 1.4rem;
  border-radius: 1rem;
  background-color: var(--bg-primary);
}

.meta__title {
  font-size: 1.1rem;
}

.meta__value {
  color: var(--text-accent);
  font-weight: 700;
  font-size: 1.6rem;
}

.details__item {
  display: flex;
  align-items: center;
}

.details__item:not(:first-child) {
  margin-top: 1.6rem;
}

.details__item::before {
  display: inline-block;
  flex-shrink: 0;
  align-self: flex-start;
  width: 2rem;
  height: 2rem;
  margin-right: 1.3rem;
  vertical-align: middle;
  background: left center no-repeat;
  filter: var(--icon-filter);
  content: "";
}

.details__item:nth-child(1)::before {
  background-image: url("./images/icon-location.svg");
}

.details__item:nth-child(2)::before {
  background-image: url("./images/icon-website.svg");
}

.details__item:nth-child(3)::before {
  background-image: url("./images/icon-twitter.svg");
}

.details__item:nth-child(4)::before {
  background-image: url("./images/icon-company.svg");
}

.details__item:not(.muted) > span {
  display: none;
}

.details__item.muted > a {
  display: none;
}

/* Views */

.app-container {
  max-width: 44rem;
  margin-right: auto;
  margin-left: auto;
  padding: 3.2rem 2.4rem;
}

.app-container > :nth-child(2) {
  margin-top: 3.6rem;
}

.app-container > :nth-child(3) {
  margin-top: 1.6rem;
}

.header {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.header__title {
  margin-right: 2.4rem;
  color: var(--text-accent);
  font-weight: 700;
  font-size: 2.6rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
}

.form__field {
  flex: 1 1 16.4rem;
}

.form__feedback {
  margin-left: 0.7rem;
  color: var(--danger);
  font-weight: 700;
  font-size: 1.3rem;
}

.form__submit {
  position: relative;
  flex: 0 0 auto;
  min-height: 4.6rem;
  margin-left: 0.7rem;
}

.user {
  display: grid;
  grid-column-gap: 2rem;
  grid-template:
    "avatar  name"    min-content
    "avatar  login"   auto
    "avatar  joined"  min-content
    "bio     bio"     auto
    "meta    meta"    auto
    "details details" auto
    / auto 1fr;
  padding: 3.2rem 2.4rem 4.8rem;
  font-size: 1.3rem;
}

.user__avatar {
  grid-area: avatar;
  align-self: start;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset 0 0 0.4rem var(--accent);
}

.user__name {
  grid-area: name;
  align-self: end;
  color: var(--text-accent);
  font-weight: 600;
  font-size: 1.6rem;
}

.user__login {
  grid-area: login;
  color: var(--accent);
}

.user__joined {
  grid-area: joined;
  align-self: start;
  margin-top: 0.6rem;
  color: var(--text-secondary);
}

.user__bio {
  grid-area: bio;
  margin-top: 3.2rem;
  line-height: 193%;
}

.user__meta {
  grid-area: meta;
  margin-top: 2.4rem;
}

.user__details {
  grid-area: details;
  margin-top: 2.4rem;
}

/* Media queries */

@media (max-width: 40em /* 640px */) {
  .form {
    flex-wrap: wrap;
    justify-content: center;
  }

  .form__feedback {
    flex-basis: 100%;
    order: 1;
    text-align: center;
  }
}

@media (min-width: 35em /* 560px */) {
  .icon-search {
    width: 2.4rem;
    height: 2.4rem;
  }

  .text-field__icon {
    margin-left: 2.2rem;
  }

  .text-field__input {
    min-height: 5rem;
    padding-left: calc(2.2rem + 2.4rem + 2.4rem);
    font-size: 1.8rem;
  }

  .btn {
    min-height: 5rem;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
    font-size: 1.6rem;
  }

  .meta {
    grid-gap: 0.1rem 1.6rem;
    justify-items: start;
    padding: 1.6rem 3.2rem;
  }

  .meta__title {
    font-size: 1.3rem;
  }

  .meta__value {
    font-size: 2.2rem;
  }

  .details__item:not(:first-child) {
    margin-top: 2rem;
  }

  .app-container {
    max-width: calc(57.6rem + 3.2rem * 2);
    padding: 14rem 3.2rem 10rem;
  }

  .app-container > :nth-child(3) {
    margin-top: 2.4rem;
  }

  .form {
    padding: 1rem;
  }

  .form__feedback {
    font-size: 1.5rem;
  }

  .user {
    grid-column-gap: 4rem;
    padding: 4rem;
    font-size: 1.5rem;
  }

  .user__avatar {
    width: 11.7rem;
    height: 11.7rem;
  }

  .user__name {
    font-size: 2.6rem;
  }

  .user__login {
    margin-top: 0.2rem;
    font-size: 1.6rem;
  }

  .user__joined {
    margin-top: 0.4rem;
  }

  .user__bio {
    margin-top: 2.4rem;
    line-height: 167%;
  }

  .user__meta {
    margin-top: 3.2rem;
  }

  .user__details {
    margin-top: 3rem;
    columns: 2;
    column-gap: 2.4rem;
  }
}

@media (min-width: 52em /* 832px */) {
  .app-container {
    max-width: calc(73rem + 4.8rem * 2);
    padding: 14.4rem 4.8rem 10rem;
  }

  .form__feedback {
    margin-left: 2.4rem;
  }

  .form__submit {
    margin-left: 2.4rem;
  }

  .user {
    grid-column-gap: 3.7rem;
    grid-template:
      "avatar name    joined " auto
      "avatar login   .      " auto
      "avatar bio     bio    " auto
      "avatar meta    meta   " auto
      "avatar details details" auto
      / auto 1fr 16.8rem;
    padding: 4.4rem 4.8rem 4.8rem;
  }

  .user__joined {
    text-align: right;
  }

  .user__bio {
    margin-top: 2rem;
  }

  .user__details {
    margin-top: 3.7rem;
  }
}
