// stylelint-disable max-nesting-depth

@import 'reset';

$dark-blue: hsl(240, 38%, 20%);
$grayish-blue: hsl(240, 18%, 77%);
$light: #fff;

@function fluid-font($min, $max, $minVw, $maxVw, $unit) {
  @return calc(
    #{$min}#{$unit} + #{$max - $min} *
    ((100vw - #{$minVw}#{$unit}) / #{$maxVw - $minVw})
  );
}

@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: $light;
  font-size: 1.6rem;
}

.wrapper {
  background: bottom left / 76vw no-repeat url('../images/pattern-curve.svg');
  min-height: 100vh;
  @include landscape {
    background-size: 42.36vw;
  }
}

.testimonials {
  margin: 0 auto;
  max-width: 64rem;
  padding: 3.6vh 6.4vw;
  @include landscape {
    align-items: center;
    display: flex;
    flex-flow: row-reverse;
    max-width: none;
    padding: 6.25vh 5.07vw 0 164px;
  }
}

.slide {
  align-items: center;
  background: center / contain no-repeat url('../images/pattern-bg.svg');
  display: flex;
  flex-flow: column;
  padding: 4.5vh 9.6vw 0;
  @include landscape {
    align-items: flex-start;
    flex: 0 0 48.4vw;
    padding: 8vh 6.39vw 3.25vh 4.44vw;
  }

  > .photo > img {
    border-radius: 0.4rem;
    box-shadow: 0 1.6rem 4rem rgba($dark-blue, 0.2);
    width: 100%;
  }
}

.controls {
  display: flex;
  margin-top: calc(-1rem - 2.7vmin);
  @include landscape {
    margin-left: 6.2rem;
    margin-top: -2.8rem;
  }

  > button {
    $radius-port: calc(1rem + 2.7vmin);
    $radius-land: 2.8rem;
    background: center / calc(0.4rem + 1.07vmin) calc(0.6rem + 1.6vmin)
      no-repeat $light;
    border: 0;
    cursor: pointer;
    display: block;
    height: calc(2rem + 5.33vmin); // 4rem;
    padding: 0;
    transition: background-color 0.2s, box-shadow 0.2s;
    width: calc(2rem + 5.33vmin); // 4rem;
    z-index: 1;
    @include landscape {
      background-size: auto;
      height: 5.6rem;
      width: 5.6rem;
    }

    &:focus {
      box-shadow: inset 0 0 0 0.1rem $grayish-blue;
      outline: none;
    }

    &:hover,
    &:active {
      background-color: darken($light, 10%);
    }

    &:nth-child(1) {
      background-image: url('../images/icon-prev.svg');
      border-bottom-left-radius: $radius-port;
      border-top-left-radius: $radius-port;
      @include landscape {
        border-bottom-left-radius: $radius-land;
        border-top-left-radius: $radius-land;
      }
    }

    &:nth-child(2) {
      background-image: url('../images/icon-next.svg');
      border-bottom-right-radius: $radius-port;
      border-top-right-radius: $radius-port;
      @include landscape {
        border-bottom-right-radius: $radius-land;
        border-top-right-radius: $radius-land;
      }
    }
  }
}

.quote {
  background: top center / calc(3rem + 8vw) calc(2.5rem + 3.75vh) no-repeat
    url('../images/pattern-quotes.svg');
  color: $dark-blue;
  margin-top: 5.4vh;
  padding: 3.6vh 2.66vw;
  text-align: center;
  @include landscape {
    background-position: 6.66vw top;
    background-size: calc(6rem + 4.17vw) calc(5rem + 3.47vw);
    flex: 0 0 44.375vw;
    margin-right: -9.375vw;
    margin-top: 2vh;
    padding: 8vh 0 0;
    text-align: left;
  }

  > p {
    font: 300 4.8vmin/135% Inter, sans-serif;
    font-size: fluid-font(1.8, 3.2, 37.5, 144, rem);
    @include landscape {
      font-kerning: none;
      line-height: 140%;
    }

    &::before {
      content: '“ ';
    }

    &::after {
      content: ' ”';
    }
  }

  > footer {
    display: flex;
    flex-flow: column;
    margin-top: 3vh;
    @include landscape {
      flex-flow: row;
      margin-top: 5vh;

      // stylelint-disable-next-line selector-max-compound-selectors
      > cite + cite {
        margin-left: 0.8rem;
      }
    }

    > cite {
      font-family: Inter, sans-serif;
      font-kerning: none;
      font-size: fluid-font(1.5, 2, 37.5, 144, rem);
      line-height: normal;

      &:nth-child(1) {
        font-weight: 700;
      }

      &:nth-child(2) {
        color: $grayish-blue;
        font-weight: 500;
      }
    }
  }
}

@keyframes hide {
  to {
    opacity: 0;
    transform: translateX(-3rem) scale(0.95);
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateX(3rem) scale(1.05);
  }
}

@keyframes hide-reverse {
  to {
    opacity: 0;
    transform: translateX(3rem) scale(1.05);
  }
}

@keyframes show-reverse {
  from {
    opacity: 0;
    transform: translateX(-3rem) scale(0.95);
  }
}

.hide {
  animation: hide 0.25s;

  &-reverse {
    animation: hide-reverse 0.25s;
  }
}

.show {
  animation: show 0.25s;

  &-reverse {
    animation: show-reverse 0.25s;
  }
}
