// stylelint-disable max-nesting-depth

@import 'reset';
@import 'defaults';
@import 'animation';

.game {
  background: $g-radial;
  display: grid;
  grid-template-rows: auto minmax(3.2rem, 2fr) auto minmax(3.2rem, 1fr) auto;
  justify-items: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 3.2rem 3.2rem 5.5rem;
  @include md-up {
    grid-template-rows: auto 5.86vh auto 1fr auto;
    padding: 4.6rem 3.2rem 3.2rem;
  }

  .header {
    margin: -0.1rem;
    max-width: 70.2rem;
    width: calc(100% + 0.2rem);
  }

  .content {
    grid-row: 3;
    @include md-up {
      margin-bottom: -1.1rem;
      width: 100%;
    }
  }

  .footer {
    grid-row: 5;
    @include md-up {
      justify-self: end;
    }
  }
}

.header {
  align-items: center;
  border: 0.3rem solid $c-header-outline;
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 2.1rem;
  @include md-up {
    border-radius: 1.6rem;
    padding: 2.1rem 2.2rem 1.5rem 2.8rem;
  }
}

.title {
  box-sizing: content-box;
  height: auto;
  width: 5rem;
  @include md-up {
    width: 11.5rem;
  }
}

.score {
  align-items: center;
  align-self: flex-start;
  background: $c-light;
  border-radius: 0.4rem;
  display: flex;
  flex-flow: column;
  min-width: 8rem;
  padding: 1rem;
  @include md-up {
    border-radius: 0.8rem;
    margin: -0.2rem 0;
    min-width: 15rem;
    padding: 1.5rem;
  }

  > div:nth-child(1) {
    color: $c-score-text;
    font: 600 1rem Barlow Semi Condensed, sans-serif;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    @include md-up {
      font-size: 1.7rem;
      letter-spacing: 0.12em;
    }
  }

  > div:nth-child(2) {
    color: $c-dark-text;
    font: 700 4rem / 100% Barlow Semi Condensed, sans-serif;
    letter-spacing: -0.02em;
    @include md-up {
      font-size: 6.4rem;
      letter-spacing: normal;
    }
  }
}

.box {
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;

  > * {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  text-transform: uppercase;
}

.playfield {
  margin-bottom: 10.67vh;
  max-width: 40rem;
  width: 100%;
  @include md-up {
    margin-bottom: 0;
    max-width: 47.2rem;
  }

  &.fadeIn {
    animation: fade 0.5s;
  }

  &.fadeOut {
    animation: fade 0.5s reverse;
  }

  > .box {
    padding-bottom: 97.46%;

    > .grid {
      background: center/70% no-repeat url('../images/bg-pentagon.svg');
      display: grid;
      grid-template:
        '  .     .      .    scissors scissors scissors  .     .     .  ' 129fr
        'spock spock    .    scissors scissors scissors  .   paper paper' 16fr
        'spock spock    .       .        .        .      .   paper paper' 129fr
        '  .     .      .       .        .        .      .     .     .  ' 41fr
        '  .   lizard lizard  lizard     .      rock    rock rock    .  ' 145fr
        / 65fr 80fr 19fr 46fr 52fr 47fr 18fr 80fr 65fr;
    }
  }
}

.option {
  --gradient-start: hsl(0, 0%, 45%);
  --gradient-end: hsl(0, 0%, 55%);
  --color-outer-shadow: #{darken(#808080, 15%)};
  align-items: center;
  background: linear-gradient(
    to top,
    var(--gradient-start),
    var(--gradient-end)
  );
  border-radius: 50%;
  box-shadow:
    inset 0 -0.2em var(--color-outer-shadow),
    0 0.2em var(--color-outer-shadow);
  display: flex;
  font-size: 1rem;
  justify-content: center;
  padding: 0;
  transition: filter 0.15s, transform 0.2s;
  @include md-up {
    font-size: 1.5rem;
  }

  > span {
    background: darken($c-light, 10%);
    border-radius: 50%;
    box-shadow: inset 0 0.4em rgba($c-dark-text, 0.2);
    display: block;
    height: 77%;
    width: 77%;
  }
}

// stylelint-disable-next-line selector-no-qualifying-type
button.option {
  &:focus,
  &:hover {
    filter: drop-shadow(0 0 0.6rem var(--gradient-start));
    outline: none;
  }

  &:active {
    transform: scale(0.95);
  }
}

// stylelint-disable order/order
@each $option, $gradient in $gradients {
  .#{$option} {
    $g-end: nth($gradient, 2);
    --gradient-start: #{nth($gradient, 1)};
    --gradient-end: #{$g-end};
    --color-outer-shadow: #{adjust-color($g-end,
    $saturation: 10%,
    $lightness: -15%)};
    grid-area: #{$option};
  }
}
// stylelint-enable order/order

.scissors > span {
  padding: 20% 22.8% 16.6% 18.6%;
}

.spock > span {
  padding: 18.6% 20.7% 17.2% 24.8%;
}

.paper > span {
  padding: 20% 22.1% 15.9% 20.7%;
}

.lizard > span {
  padding: 19.3% 16.6% 15.9%;
}

.rock > span {
  padding: 24.1% 21.4% 19.3% 22.1%;
}

.rules {
  border: 0.2rem solid $c-light;
  border-radius: 0.8rem;
  color: $c-light;
  font: 600 1.7rem Barlow Semi Condensed, sans-serif;
  letter-spacing: 0.12em;
  padding: 0.9rem 3.6rem;
  transition: box-shadow 0.15s, background-color 0.25s;

  &:focus {
    border-color: $c-score-text;
    outline: none;
  }

  &:hover,
  &:active {
    background-color: rgba(#fff, 0.1);
  }
}

.overlay {
  background: rgba(#000, 0.5);
  display: flex;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: opacity 1s;
  width: 100%;
  z-index: 100;

  &.fadeIn {
    animation: fade 0.3s;
  }

  &.fadeOut {
    animation: fade 0.3s reverse;
  }
}

.modal {
  background: $c-light;
  border-radius: 0.8rem;
  display: grid;
  grid-template-rows: auto 95fr auto 138fr auto;
  height: 100%;
  justify-items: center;
  margin: auto;
  padding: 9.5rem 3.2rem 6.5rem;
  width: 100%;
  z-index: 105;
  @include sm-up {
    grid-gap: 2rem;
    grid-template: repeat(2, auto) / repeat(2, auto);
    height: auto;
    max-width: 40rem;
    padding: 3.2rem 3.2rem 4.7rem;
  }

  > h2 {
    color: $c-dark-text;
    font: 700 3.2rem/100% Barlow Semi Condensed, sans-serif;
    text-transform: uppercase;
    @include sm-up {
      align-self: center;
      justify-self: start;
    }
  }

  > img {
    grid-row: 3;
    height: auto;
    width: 100%;
    @include sm-up {
      grid-area: 2 / 1 / -1 / -1;
    }
  }

  > button {
    border-radius: 50%;
    grid-row: 5;
    margin: -1.4rem;
    padding: 1.4rem;
    transition: background-color 0.25s, box-shadow 0.25s;
    @include sm-up {
      align-self: center;
      grid-area: 1 / 2;
      justify-self: end;
    }

    &:focus {
      box-shadow: inset 0 0 0 0.2rem #b8baca;
      outline: none;
    }

    &:hover {
      background-color: #e1e4ed;
    }

    &:active {
      background-color: #b8baca;
    }
  }
}

.result {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 0 -0.3rem;
  max-width: 40rem;
  @include lg-up {
    flex-flow: nowrap;
    margin: 2.6rem 0 0;
    max-width: 67.2rem;
  }

  &.fadeIn {
    animation: fade 0.6s ease-in;
  }

  &.fadeOut {
    animation: fade 0.6s ease-in reverse;
  }

  > .col {
    --mx: 2.85rem;
    align-items: center;
    display: flex;
    flex: 1 1 calc(50% - var(--mx));
    flex-flow: column;
    min-width: 0;
    @include lg-up {
      --mx: 4.3rem;
      flex: 0 1 29.3rem;
    }

    &:nth-child(1) {
      margin-right: var(--mx);
    }

    &:nth-child(2) {
      margin-left: var(--mx);
      @include lg-up {
        order: 1;
      }
    }

    > .label {
      margin-top: 2.6rem;
      @include lg-up {
        margin-bottom: 6.4rem;
        margin-top: 0;
        order: -1;
      }
    }

    > .box {
      &::before {
        background: center / contain no-repeat
          radial-gradient(circle at center,
          rgba(#fff, 0.09) 0%,
          rgba(#fff, 0.09) 40%,
          rgba(#fff, 0.06) 40%,
          rgba(#fff, 0.06) 54%,
          rgba(#fff, 0.03) 54%,
          rgba(#fff, 0.03) 100%);
        border-radius: 50%;
        content: '';
        height: 0%;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: width 1s, height 1s;
        width: 0%;
      }

      &.highlight::before {
        height: 220%;
        width: 220%;
        @include lg-up {
          height: 250%;
          width: 250%;
        }
      }
    }
  }

  > .center {
    align-self: center;
    flex: 1;
    margin-top: 9vh;
    visibility: hidden;
    @include lg-up {
      flex: 0 1 0;
      margin-top: 6rem;
      overflow: hidden;
    }

    > :nth-child(2) {
      margin-top: 1.6rem;
    }

    > .status {
      text-align: center;
    }

    > .repeat {
      margin-left: auto;
      margin-right: auto;
      max-width: 22rem;
    }
  }

  &.expanded {
    @include lg-up {
      max-width: 96rem;
    }

    > .center {
      flex-grow: 1;
      visibility: visible;
    }
  }

  .option {
    font-size: 1.5rem;
    @include lg-up {
      font-size: 3rem;
    }
  }
}

.square {
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;

  > * {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.placeholder {
  background: $c-placeholder;
  border-radius: 50%;
  height: 77%;
  width: 77%;
}

.label {
  color: $c-light;
  font: 700 1.6rem Barlow Semi Condensed, sans-serif;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  white-space: nowrap;
  @include lg-up {
    font-size: 2.4rem;
    letter-spacing: 0.12em;
  }
}

.status {
  color: $c-light;
  font: 700 5.6rem Barlow Semi Condensed, sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
}

.repeat {
  background: $c-light;
  border-radius: 0.8rem;
  color: $c-dark-text;
  display: block;
  font: 600 1.7rem Barlow Semi Condensed, sans-serif;
  letter-spacing: 0.12em;
  padding: 1.4rem;
  transition: box-shadow 0.15s, background-color 0.25s;
  width: 100%;

  &:focus {
    box-shadow: 0 0 0 0.3rem $c-score-text;
    outline: none;
  }

  &:hover,
  &:active {
    background-color: rgba($c-light, 0.75);
  }
}

.hidden {
  display: none;
}

.header,
.footer,
.result > *,
.col > * {
  z-index: 5;
}
