@use '../breakpoints' as brp;

.jobList {
  display: grid;
  grid-gap: 1.6rem;
  margin-top: 3.2rem;

  @include brp.smUp {
    grid-gap: 2.4rem;
    margin-top: 4rem;
  }
}

.extraMargin {
  @include brp.smUp {
    margin-top: 7.6rem;
  }
}
