<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interactive pricing component</title>
    <meta
      name="description"
      content="A frontendmentor.io &quot;Interactive pricing component&quot; challenge solution by Alex Kim"
    />
    <meta name="author" content="<%- author %>" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%- favicon %>" />
    <script type="module" src="/index.js"></script>
  </head>
  <body>
    <div class="app"></div>
  </body>
</html>
