<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interactive pricing component</title>
    <meta
      name="description"
      content='A frontendmentor.io "Interactive pricing component" challenge solution by Alex Kim'
    />
    <meta name="author" content="<%- author %>" />
    <link rel="icon" type="image/png" sizes="32x32" href="<%- favicon %>" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="/index.js"></script>
  </head>
  <body class="container">
    <pre hidden>
      Simple, traffic-based pricing
      Sign-up for our 30-day trial. No credit card required.

      Pageviews
      $ /month

      Monthly Billing
      Yearly Billing 25% discount

      Unlimited websites
      100% data ownership
      Email reports

      Start my trial
    </pre>
  </body>
</html>
