@import "modern-css-reset";

/* Variables */

:root {
  /* Primary */
  --soft-cyan: hsl(174deg 77% 80%); /* Full Slider Bar */
  --strong-cyan: hsl(174deg 86% 45%); /* Slider Backround */
  --lighter-cyan: hsl(174deg 73% 70%); /* Slider Backround (hover) */
  --stronger-cyan: hsl(174deg 65% 41%); /* Slider Backround (active) */
  --light-grayish-red: hsl(14deg 92% 95%); /* Discount Background */
  --light-red: hsl(15deg 100% 70%); /* Discount Text */
  --pale-blue: hsl(226deg 100% 87%); /* CTA Text */

  /* Neutral */
  --white: hsl(0deg 0% 100%); /* Pricing Component Background */
  --very-pale-blue: hsl(230deg 100% 99%); /* Main Background */
  --light-grayish-blue: hsl(224deg 65% 95%); /* Empty Slider Bar */
  --light-grayish-blue-2: hsl(223deg 50% 87%); /* Toggle Background */
  --grayish-blue: hsl(225deg 20% 60%); /* Text */
  --dark-desaturated-blue: hsl(227deg 35% 25%); /* Text & CTA Background */
}

/* Utils */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.dragging * {
  cursor: grabbing !important;
}

/* Base */

html {
  font-size: 62.5%;
}

body {
  color: var(--grayish-blue);
  font-weight: 600;
  font-size: 1.6rem;
  font-family: Manrope, sans-serif;
  line-height: normal;
}

/* Components */

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2.4rem 2.4rem 5.5rem;
  background:
    top left / auto 40rem no-repeat url("./images/bg-pattern.svg"),
    var(--very-pale-blue);
}

.container > * + * {
  margin-top: 3.2rem;
}

.header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  max-width: 38rem;
  min-height: 14.5rem;
  text-align: center;
  background: center / auto 100% no-repeat url("./images/pattern-circles.svg");
}

.header > * + * {
  margin-top: 0.8rem;
}

.heading {
  color: var(--dark-desaturated-blue);
  font-weight: 800;
  font-size: 2rem;
}

.subheading {
  font-size: 1.3rem;
  line-height: 177%;
}

.group {
  width: 100%;
  max-width: 38rem;
  padding: 3.4rem 2.4rem 3.2rem;
  border-radius: 0.8rem;
  text-align: center;
  word-break: break-word;
  background-color: var(--white);
  box-shadow: 0 2rem 3rem -0.5rem hsl(230deg 29% 61% / 15%);
}

.pricing {
  display: grid;
  grid-gap: 2.4rem;
  grid-template:
    "views " auto
    "slider" auto
    "price " auto
    / auto;
  align-items: center;
}

.pricing__views {
  grid-area: views;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 0.1425em;
  text-transform: uppercase;
}

.pricing__price {
  display: flex;
  flex-flow: wrap;
  grid-area: price;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.pricing__value {
  color: var(--dark-desaturated-blue);
  font-weight: 800;
  font-size: 3.2rem;
  letter-spacing: -0.025em;
}

.pricing__price > span {
  margin-left: 0.8rem;
}

.pricing__slider {
  grid-area: slider;
}

.slider {
  --position: 2;
  --clamped-pos: clamp(0, var(--position), 4);
  --thumb-size: 4rem;
  --bar-thickness: 0.8rem;
  --transition-duration: 0.25s;

  position: relative;
  width: 100%;
  padding: calc((var(--thumb-size) - var(--bar-thickness)) / 2) 0;
}

.slider__bar {
  height: var(--bar-thickness);
  border-radius: 0.4rem;
  background:
    calc(100% - var(--clamped-pos) * 25%) / 200% 100% no-repeat linear-gradient(
      to right,
      var(--soft-cyan) 50%,
      transparent 50%
    ),
    var(--light-grayish-blue);
  cursor: pointer;
  transition: background-position var(--transition-duration);
}

.slider__thumb {
  position: absolute;
  top: 0;
  left: calc((100% - var(--thumb-size)) * var(--clamped-pos) / 4);
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 50%;
  background:
    center no-repeat url("./images/icon-slider.svg"),
    var(--strong-cyan);
  box-shadow: 0 1.5rem 3rem hsl(174deg 100% 50% / 60%);
  cursor: pointer;
  transition:
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    left var(--transition-duration);
}

.slider__thumb:hover {
  background-color: var(--lighter-cyan);
}

.slider__thumb:active {
  background-color: var(--stronger-cyan);
}

.billing {
  margin-top: 3.4rem;
  text-transform: capitalize;
}

.switch {
  display: grid;
  grid-gap: 1.2rem;
  grid-template: auto / 1fr auto 1fr;
  align-items: center;
  font-size: 1.2rem;
  word-break: break-word;
  cursor: pointer;
}

.switch__left-label {
  text-align: right;
}

.switch__right-label {
  text-align: left;
}

.switch__checkbox {
  display: flex;
  align-items: center;
  width: 4.4rem;
  height: 2.2rem;
  margin: 0;
  padding: 0.4rem;
  border: none;
  border-radius: 1.1rem;
  background-color: var(--light-grayish-blue-2);
  cursor: inherit;
  transition: background-color 0.2s;
  appearance: none;
}

.switch__checkbox:hover {
  background-color: var(--lighter-cyan);
}

.switch__checkbox::before {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background-color: var(--white);
  transition: transform 0.2s;
  content: "";
}

.switch__checkbox:checked::before {
  transform: translateX(2.2rem);
}

.chip {
  padding: 0.2rem 0.3rem 0.3rem;
  border-radius: 1rem;
  color: var(--light-red);
  font-weight: 800;
  font-size: 1rem;
  white-space: nowrap;
  background-color: var(--light-grayish-red);
}

.chip--md {
  display: none;
  margin-left: 0.8rem;
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}

.separator {
  height: 0.1rem;
  margin: 4rem -2.4rem 0;
  border: none;
  background-color: var(--light-grayish-blue);
}

.bottom-group {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.4rem;
  text-align: center;
}

.bottom-group > :nth-child(2) {
  flex-shrink: 0;
  margin-top: 3.2rem;
}

.benefits {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  word-break: break-word;
  list-style: none;
}

.benefits__item::before {
  margin-right: 1.4rem;
  content: url("./images/icon-check.svg");
}

.benefits__item:not(:first-child) {
  margin-top: 1rem;
}

.cta {
  display: inline-block;
  padding: 1.2rem 4.6rem;
  border: none;
  border-radius: 2.1rem;
  color: var(--pale-blue);
  font-weight: 800;
  font-size: 1.2rem;
  background-color: var(--dark-desaturated-blue);
  cursor: pointer;
  transition: color 0.2s;
}

.cta:hover,
.cta:active {
  color: var(--white);
}

@media (min-width: 37.5em /* 600px */) {
  .container {
    justify-content: flex-start;
    padding: 6.7rem 3.6rem 10.6rem;
    background-size: 100% 45rem;
  }

  .container > * + * {
    margin-top: 5.4rem;
  }

  .header {
    max-width: 54rem;
  }

  .header > * + * {
    margin-top: 1.2rem;
  }

  .heading {
    font-size: 2.8rem;
  }

  .subheading {
    font-size: 1.5rem;
    line-height: 135%;
  }

  .subheading > br {
    display: none;
  }

  .group {
    max-width: 54rem;
    padding: 4rem 4.8rem 3.2rem;
  }

  .pricing {
    grid-template:
      "views  price " auto
      "slider slider" auto
      / 1fr 1fr;
  }

  .pricing__views {
    font-size: 1.4rem;
    letter-spacing: 0.143em;
    text-align: left;
  }

  .pricing__price {
    justify-self: end;
    font-size: 1.6rem;
  }

  .pricing__value {
    font-size: 4rem;
  }

  .billing {
    margin-top: 4rem;
  }

  .switch {
    grid-gap: 1.6rem;
  }

  .chip--sm {
    display: none;
  }

  .chip--md {
    display: inline;
  }

  .separator {
    margin-right: -4.8rem;
    margin-left: -4.8rem;
  }

  .bottom-group {
    flex-direction: row;
    margin-top: 3.2rem;
    text-align: left;
  }

  .bottom-group > :nth-child(2) {
    margin-top: 0;
    margin-left: 3.2rem;
  }
}
