extends includes/layout

block variables
  - const title = "Feature section using css grid";
  - const challenge = "Four card feature section";

block fonts
  +googleFonts([ 'family=Poppins:wght@200&display=swap&text=Reliab%2C%20fcntdvry', 'family=Poppins&display=swap&text=Our%20AtifcalInegpowdsmjhyMvbkSRqU', 'family=Poppins:wght@600&display=swap&text=Powerd%20byTchnlgSupvisamBKCt' ])

block content
  section.feature
    header.feature__header
      .feature__heading
        h1
          span Reliable, efficient delivery
          br
          | Powered by Technology
      .feature__caption
        p.text-muted.
          Our Artificial Intelligence powered tools use millions of project
          data points to ensure that your project is successful
    dl.feature__list
      .card
        dt.card__heading Supervisor
        dd.card__text.text-muted.
          Monitors activity to identify project roadblocks
        .card__icon
      .card
        dt.card__heading Team Builder
        dd.card__text.text-muted.
          Scans our talent network to create the optimal team for your project
        .card__icon
      .card
        dt.card__heading Karma
        dd.card__text.text-muted.
          Regularly evaluates our talent to ensure quality
        .card__icon
      .card
        dt.card__heading Calculator
        dd.card__text.text-muted.
          Uses data from past projects to provide better delivery estimates
        .card__icon
