*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: var(--text-body);
  font-size: 1.6rem;
}

input {
  color: inherit;
  font-family: inherit;
}

img {
  height: auto;
  max-width: 100%;
}
