@use '../colors' as c;

.chip {
  align-items: center;
  background-color: c.$primary;
  border-radius: 1.2rem;
  color: #fff;
  display: inline-flex;
  font: 700 1.1rem/127% Spartan, sans-serif;
  height: 2.4rem;
  letter-spacing: -0.0072em;
  padding: 0 0.8rem;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.dark {
  background-color: c.$text;
}

.label {
  transform: translateY(0.1rem);
}
