@import '../../../../node_modules/reset-css/sass/reset';
@import '../../../includes/defaults';

// Abstracts

:root {
  --bg: #fff;
  --bg-top: #f7f9ff;
  --text-primary: #1d1f29;
  --text-secondary: #63687d;
  --switch-off: #aeb3cb;
  --switch-on: linear-gradient(225deg, #40db82 0%, #388fe7 98.02%);
  --switch-thumb: #f1f3fa; // +
  --switch-thumb-dark: #252b42;
  --separator: #848bab;
  --cell: #f1f3fa; // +
  --positive: #1eb589;
  --negative: #dc414c;
}

$platforms: (
  ('facebook', #178ff5),
  ('twitter', #1da1f2),
  (
    'instagram',
    linear-gradient(225deg, #df4896 0%, #ee877e 50.91%, #fdc366 100%)
  ),
  ('youtube', #c4032b)
);

@mixin smUp {
  @media (min-width: rem(600px)) {
    @content;
  }
}

// Base

body {
  font-family: Inter, sans-serif;
  line-height: normal;
}

// Components

.h1 {
  color: var(--text-primary);
  font-weight: 700;
  font-size: fluidFont(2.4, 2.8, 37.5, 144, rem);
  text-transform: capitalize;
}

.text {
  color: var(--text-secondary);
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: capitalize;
  &-big {
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 4.8rem;
    letter-spacing: -0.036em;
  }
  &-secondary {
    color: var(--text-secondary);
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: 0.42em;
    text-transform: uppercase;
  }
  &-small {
    font-weight: 700;
    font-size: 1.2rem;
  }
}

.separator {
  width: 100%;
  height: 0.1rem;
  margin: 2.4rem 0 1.6rem;
  background: var(--separator);
  border: none;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > * + * {
    margin-left: 1.3rem;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 4.8rem;
  height: 2.4rem;
  background: var(--switch-off);
  border-radius: 1.2rem;
  cursor: pointer;
  transition: 0.15s;
  &::after {
    position: absolute;
    top: 0.3rem;
    left: 2.6rem;
    width: 1.8rem;
    height: 1.8rem;
    background: var(--switch-thumb);
    border-radius: 50%;
    transition: left 0.25s;
    content: '';
  }
  &:hover {
    background: var(--switch-on);
  }
}

input[type='checkbox'] {
  &:focus + .switch {
    box-shadow: 0 0 0 0.2rem var(--switch-thumb-dark);
  }
  &:checked + .switch {
    background: var(--switch-on);
    &::after {
      left: 0.4rem;
    }
  }
}

.cell {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 3.2rem 3.2rem 2.4rem;
  background: var(--cell);
  border-radius: 0.5rem;
}

.account {
  display: flex;
  align-items: center;
  color: var(--text-secondary);
  font-weight: 700;
  font-size: 1.2rem;
  &::before {
    width: 2rem;
    height: 2rem;
    margin-right: 0.8rem;
    content: '';
  }
}

// Layout

.wrapper {
  position: relative;
  padding: 3.6rem 2.4rem 4.5rem;
  background: var(--bg);
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 23.5rem;
    background: var(--bg-top);
    border-radius: 0 0 2rem 2rem;
    content: '';
    @include smUp {
      height: 24.4rem;
    }
  }
}

.container {
  position: relative;
  max-width: 111rem;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  @include smUp {
    flex-flow: row;
    > .separator {
      display: none;
    }
  }
}

.heading {
  > * + * {
    margin-top: 0.4rem;
  }
}

.group {
  display: flex;
  align-items: center;
  > * + * {
    margin-left: 0.8rem;
  }
}

.summary {
  margin-top: 4rem;
  @include smUp {
    margin-top: 4.6rem;
  }
}

.grid {
  display: grid;
  grid-gap: 2.4rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  @include smUp {
    grid-gap: 3rem;
  }
}

.card {
  position: relative;
  overflow: hidden;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.4rem;
    background: gray;
    content: '';
  }
  > .text-big {
    margin-top: 2.8rem;
  }
  > .text-secondary {
    margin-top: 0.9rem;
  }
  > .text-small {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    &::before {
      display: block;
      width: 0.8rem;
      height: 0.4rem;
      margin-right: 0.4rem;
      content: '';
    }
    &[data-change='up'] {
      color: var(--positive);
      &::before {
        background: center / contain no-repeat url(icon-up.svg);
      }
    }
    &[data-change='down'] {
      color: var(--negative);
      &::before {
        background: center / contain no-repeat url(icon-down.svg);
      }
    }
  }
}

@each $platform, $color in $platforms {
  .card[data-platform='#{$platform}'] {
    &::before {
      background: $color;
    }
    > .account::before {
      background: center / contain no-repeat url(icon-#{$platform}.svg);
    }
  }
}
