extends includes/seo

block content
  main.wrapper
    .testimonials
      .slide
        .photo
          img(src='images/image-tanya.jpg' alt='Member photo - Tanya Sinclair')
        .controls
          button(aria-label='Previous testimonial' data-slide='prev')
          button(aria-label='Next testimonial' data-slide='next')
      blockquote.quote
        p.
          I’ve been interested in coding for a while but never taken the jump,
          until now. I couldn’t recommend this course enough. I’m now in the
          job of my dreams and so excited about the future.
        footer
          cite Tanya Sinclair
          cite UX Engineer
