/* stylelint-disable */

@import 'reset';
@import 'defaults';

@mixin smUp {
  @media (min-width: rem(768px)) {
    @content;
  }
}

@mixin mdUp {
  @media (min-width: rem(1024px)) {
    @content;
  }
}

$c-pale-blue: hsl(243, 100%, 93%);
$c-grayish-blue: hsl(229, 7%, 55%);
$c-dark-blue: hsl(228, 56%, 26%);
$c-very-dark-blue: hsl(229, 57%, 11%);
$c-peach: hsl(6, 100%, 80%);
$c-magenta: hsl(335, 100%, 65%);
$c-light: white;

.content {
  align-content: center;
  background: center / 100% 100% url(bg-mobile.svg);
  display: grid;
  grid-auto-columns: minmax(0, 54rem);
  grid-gap: 1.6rem;
  grid-template-columns: minmax(0, 35rem);
  height: 100vh;
  justify-content: center;
  padding: 6.4vmin;
  @include smUp {
    grid-auto-flow: column;
    grid-gap: 3rem;
  }
  @include mdUp {
    background: bottom / 100% 52.5% no-repeat url(bg-desktop.svg),
      $c-very-dark-blue;

    > * {
      margin-bottom: 2.1rem;
    }
  }
}

.control {
  background: $c-dark-blue;
  border-radius: 1rem;
  border-top-right-radius: 10rem;
  padding: 4rem;
}

.toolbar {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.6rem;
  justify-content: start;
  margin-top: 3.2rem;

  > li {
    display: flex;
  }
}

.iconBtn {
  background-color: $c-very-dark-blue;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  height: 4.8rem;
  padding: 0;
  padding: 0;
  transition: 0.2s ease-in-out;
  width: 4.8rem;

  &:hover {
    filter: brightness(1.3);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem $c-grayish-blue;
    outline: none;
  }

  &:active {
    transform: translateY(0.2rem);
  }
}

.newFile {
  background-image: url(icon-document.svg);
}

.newDir {
  background-image: url(icon-folder.svg);
}

.upload {
  background-image: url(icon-upload.svg);
}

.status {
  display: grid;
  grid-template:
    'stats' auto
    'badge' 1fr
    'badge' 1fr
    / 1fr;
  @include smUp {
    grid-template:
      'badge' 1fr
      'badge' 1fr
      'stats' auto
      / 1fr;
  }
}

.bg {
  background: $c-dark-blue;
  border-radius: 1rem;
  grid-area: 1 / 1 / span 2;
  @include smUp {
    grid-row-start: 2;
  }
}

.stats {
  display: block;
  grid-area: stats;
  margin-top: -0.7rem;
  padding: 3.2rem 3.2rem 1.6rem;
  text-align: center;
  @include smUp {
    padding: 0 4rem 4rem;
    text-align: left;
  }
}

.label {
  color: $c-light;
  font: 1.4rem Raleway, sans-serif;

  > span {
    font-weight: 700;
  }
}

.meter {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-top: 1.6rem;
}

.bar {
  --value: 0.815;
  background: $c-very-dark-blue;
  border-radius: 1rem;
  height: 2rem;
  padding: 0.3rem;
  width: 100%;

  > div {
    background: linear-gradient(to right, $c-peach, $c-magenta);
    border-radius: 0.7rem;
    height: 100%;
    position: relative;
    width: calc(1.4rem + (100% - 1.4rem) * var(--value));

    &::after {
      background: $c-light;
      border-radius: 50%;
      content: '';
      height: 1rem;
      position: absolute;
      right: 0.2rem;
      top: 0.2rem;
      width: 1rem;
    }
  }
}

.limit {
  color: $c-light;
  font: 700 1.2rem Raleway, sans-serif;
  margin-top: 0.8rem;
}

.badge {
  grid-area: badge;
  justify-self: center;
  @include smUp {
    justify-self: end;
    margin-right: 4rem;

    &::after {
      border-left: 2.3rem solid transparent;
      border-top: 2.3rem solid $c-light;
      content: '';
      display: block;
      margin-left: auto;
      margin-top: -0.1rem;
      width: 0;
    }
  }

  > div {
    align-items: center;
    background: $c-light;
    border-radius: 1rem;
    color: $c-grayish-blue;
    display: flex;
    font: 700 1.3rem Raleway, sans-serif;
    letter-spacing: 0.04em;
    padding: 1.2rem 2.4rem;
    text-transform: uppercase;
    @include smUp {
      border-bottom-right-radius: 0;
    }

    > span {
      color: $c-very-dark-blue;
      font-size: 4rem;
      line-height: 120%;
      margin-right: 0.8rem;
    }
  }
}

.hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
