@use '../colors' as c;

.wrapper {
  border-radius: 0.4rem;
  display: inline-flex;
  height: 3.2rem;
  overflow: hidden;
}

.tag {
  --bg-hover: #{c.$primary};
  --color-hover: #fff;
  align-items: center;
  background-color: c.$secondary;
  color: c.$primary;
  display: flex;
  font: 700 1.3rem/185% Spartan, sans-serif;
  height: 100%;
  letter-spacing: -0.0077em;
  padding: 0 0.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.delete {
  --bg-hover: #{c.$text};
  background: url('../../images/icon-remove.svg') center no-repeat;
  background-color: c.$primary;
  height: 100%;
  width: 3.2rem;
}

.btn {
  border: 0;
  cursor: pointer;
  transition: 0.2s;

  &:focus {
    filter: brightness(0.9);
    outline: none;
  }

  &:hover {
    background-color: var(--bg-hover);
    color: var(--color-hover);
  }
}
