---
title: Huddle landing page with alternating feature blocks
challenge: Huddle landing page with alternating feature blocks
difficulty: newbie
---

<!-- prettier-ignore -->
{% capture navText %}
About Us,
What We Do,
FAQ,
Career,
Blog,
Contact Us,
{% endcapture %}
{% assign nav = navText | strip_newlines | split: ',' %}

<header class="header">
  <div class="header_container">
    <div class="logo"></div>
    <button class="button">
      <span class="button_label">Try it free</span>
    </button>
  </div>
</header>
<main class="content">
  <div class="hero">
    <div class="hero_container">
      <div class="hero_content colorDark">
        <h1 class="heading heading-lg">
          Build the community your fans will love
        </h1>
        <p class="text">
          Huddle re-imagines the way we build communities. You have a voice, but
          so does your audience. Create connections with your users as you
          engage in genuine discussion.
        </p>
        <button class="hero_button button button-accent">
          <span class="button_label">Get Started For Free</span>
        </button>
      </div>
      <div class="hero_image illustration"></div>
    </div>
  </div>
  <div class="features">
    <ul class="features_container">
      <li class="feature paper">
        <div class="feature_image">
          <div class="illustration"></div>
        </div>
        <div class="feature_content">
          <h2 class="heading colorDark">
            Grow together
          </h2>
          <p class="feature_text text colorGray">
            Generate meaningful discussions with your audience and build a
            strong, loyal community. Think of the insightful conversations you
            miss out on with a feedback form.
          </p>
        </div>
      </li>
      <li class="feature paper">
        <div class="feature_image">
          <div class="illustration"></div>
        </div>
        <div class="feature_content">
          <h2 class="heading colorDark">
            Flowing conversations
          </h2>
          <p class="feature_text text colorGray">
            You wouldn't paginate a conversation in real life, so why do it
            online? Our threads have just-in-time loading for a more natural
            flow.
          </p>
        </div>
      </li>
      <li class="feature paper">
        <div class="feature_image">
          <div class="illustration"></div>
        </div>
        <div class="feature_content">
          <h2 class="heading colorDark">
            Your users
          </h2>
          <p class="feature_text text colorGray">
            It takes no time at all to integrate Huddle with your app's
            authentication solution. This means, once signed in to<br />your
            app, your users can start chatting immediately.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="cta paper colorDark">
    <h2 class="cta_heading heading heading-sm">
      Ready to build your community?
    </h2>
    <button class="cta_button button button-accent">
      <span class="button_label">Get started for free</span>
    </button>
  </div>
</main>
<footer class="footer colorLight">
  <div class="footer_container">
    <div class="footer_logo logo logo-lg logo-light"></div>
    <address class="footer_contacts contacts text">
      <ul class="contacts_list">
        <li class="contacts_item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua
        </li>
        <li class="contacts_item">
          <a href="tel:+15431234567" class="text-link">+1-543-123-4567</a>
        </li>
        <li class="contacts_item">
          <a href="mailto:example@huddle.com" class="text-link">
            example@huddle.com
          </a>
        </li>
      </ul>
    </address>
    <nav class="footer_nav nav">
      <ul class="nav_list">
        {% for label in nav %}
        <li>
          <a href="#" class="nav_link text text-link">{{ label }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    <!-- prettier-ignore -->
    {% include socialLinks.html
      listClass='footer_social social'
      itemClass='social_item'
      linkClass='social_link'
      iconClass='icon' %}
    <p class="footer_copyright copyright">
      &copy; Copyright 2018 Huddle. All rights reserved.
    </p>
  </div>
</footer>
