---
title: Intro component with signup form
challenge: Intro component with signup form
difficulty: newbie
includeJs: true
---

<div class="wrapper">
  <section class="intro">
    <header class="header">
      <h2 class="header_heading text text-h2 text-bold">
        Learn to code by watching others
      </h2>
      <p class="header_text text">
        See how experienced developers solve problems in real-time. Watching
        scripted tutorials is great, but understanding how developers think is
        invaluable.
      </p>
    </header>
    <form class="signupForm" novalidate>
      <header class="signupForm_header paper">
        <h3 class="signupForm_heading text text-h3">
          <span class="text-bold">Try it free 7 days</span>
          then $20/mo. thereafter
        </h3>
      </header>
      <div class="signupForm_body paper">
        <ul class="signupForm_fieldList">
          <!-- prettier-ignore -->
          {% include field.html
            type='text'
            name='firstName'
            placeholder='First Name' %}
          {% include field.html
            type='text'
            name='lastName'
            placeholder='Last Name' %}
          {% include field.html
            type='email'
            name='email'
            placeholder='Email Address' %}
          {% include field.html
            type='password'
            name='password'
            placeholder='Password' %}
        </ul>
        <button class="signupForm_submit button">Claim your free trial</button>
        <p class="signupForm_agreement text text-secondary">
          By clicking the button, you are agreeing to our
          <a href="#" class="text-link">Terms and Services</a>
        </p>
      </div>
    </form>
  </section>
</div>
