---
title: Ping coming soon page with accessible subscription form
challenge: Ping coming soon page
difficulty: newbie
includeJs: true
---

<div class="wrapper">
  <header class="header">
    <div class="header_logo logo"></div>
  </header>
  <main class="content">
    <h1 class="content_heading text text-h1">
      We are launching <span class="text-bold">soon!</span>
    </h1>
    <p class="content_paragraph text">Subscribe and get notified</p>
    <form class="content_form subscribeForm" novalidate onsubmit="return false">
      <div>
        <label class="emailField text">
          <input
            class="emailField_input"
            type="email"
            name="email"
            placeholder="Your email address..."
            aria-describedby="feedback"
          />
          <span class="srOnly">Enter email to subscribe</span>
        </label>
        <p
          id="feedback"
          class="subscribeForm_feedback text text-secondary"
          aria-live="polite"
          aria-relevant="additions removals"
          aria-atomic="true"
        ></p>
      </div>
      <button class="subscribeForm_submit button" type="submit">
        Notify Me
      </button>
    </form>
  </main>
  <div class="background"></div>
  <footer class="footer">
    <ul class="socialLinks">
      <li class="socialLinks_item">
        <a
          href="https://facebook.com"
          target="_blank"
          rel="noreferrer"
          class="socialLinks_link"
          aria-label="Facebook"
        >
          {% include icons/facebook.html class='icon' %}
        </a>
      </li>
      <li class="socialLinks_item">
        <a
          href="https://twitter.com"
          target="_blank"
          rel="noreferrer"
          class="socialLinks_link"
          aria-label="Twitter"
        >
          {% include icons/twitter.html class='icon' %}
        </a>
      </li>
      <li class="socialLinks_item">
        <a
          href="https://instagram.com"
          target="_blank"
          rel="noreferrer"
          class="socialLinks_link"
          aria-label="Instagram"
        >
          {% include icons/instagram.html class='icon' %}
        </a>
      </li>
    </ul>
    <p class="footer_copyright text text-secondary">
      &copy; Copyright Ping. All rights reserved.
    </p>
  </footer>
</div>
