extends ../../../includes/layout

block variables
  - const title = "Rock Paper Scissors Lizard Spock";
  - const includeJs = "true";

block fonts
  +googleFonts([ 'family=Barlow+Semi+Condensed:wght@600&display=swap&text=SCORE%20ULYPIKDTHAGN', 'family=Barlow+Semi+Condensed:wght@700&display=swap&text=RULES%20YOWINDA-0123456789' ])

block content
  | Hello World

//-
  Score
  Rules
  You Picked
  The House Picked
  You Win
  You Lose
  Play Again
