extends ../../../includes/layout

block variables
  - const title = "Rock Paper Scissors Lizard Spock";
  - const includeJs = "true";

block fonts
  +googleFonts([ 'family=Barlow+Semi+Condensed:wght@600&display=swap&text=SCORE%20ULYPIKDTHAGN', 'family=Barlow+Semi+Condensed:wght@700&display=swap&text=RULES%20YOWINDA-0123456789' ])

block content
  .game
    header.header
      img.title(src='logo-bonus.svg' alt=title)
      .score
        div Score
        div 12
    main.playField
      div
        .grid
          button.option.scissors(aria-label='Scissors')
            span: include icon-scissors.svg
          button.option.spock(aria-label='Spock')
            span: include icon-spock.svg
          button.option.paper(aria-label='Paper')
            span: include icon-paper.svg
          button.option.lizard(aria-label='Lizard')
            span: include icon-lizard.svg
          button.option.rock(aria-label='Rock')
            span: include icon-rock.svg
    footer.footer
      button.rules Rules

//-
  You Picked
  The House Picked
  You Win
  You Lose
  Play Again
