@import '../../../../node_modules/reset-css/sass/reset';
@import '../../../includes/defaults';

@mixin smUp {
  @media (min-width: rem(450px)) {
    @content;
  }
}

@mixin mdUp {
  @media (min-width: rem(650px)) {
    @content;
  }
}

// Colors
$c-dark-text: hsl(229, 25%, 31%);
$c-score-text: hsl(229, 64%, 46%);
$c-header-outline: hsl(217, 16%, 45%);
$c-light: white;

// Gradients
$gradients: (
  scissors: [hsl(39, 89%, 49%),
  hsl(40, 84%, 53%) ],
  spock: [hsl(189, 59%, 53%),
  hsl(189, 58%, 57%) ],
  paper: [hsl(230, 89%, 62%),
  hsl(230, 89%, 65%) ],
  lizard: [hsl(261, 73%, 60%),
  hsl(261, 72%, 63%) ],
  rock: [hsl(349, 71%, 52%),
  hsl(349, 70%, 56%) ],
);
$g-radial: radial-gradient(
  circle at top,
  hsl(214, 47%, 23%),
  hsl(237, 49%, 15%)
);

.game {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 3.2rem 3.2rem 5.5rem;
  overflow: auto;
  background: $g-radial;
  @include mdUp {
    padding: 4.6rem 3.2rem 3.2rem;
  }
  .header {
    width: calc(100% + 0.2rem);
    max-width: 70.2rem;
    margin: -0.1rem;
  }
  .playField {
    width: 100%;
    max-width: 40rem;
    margin-bottom: 3.2rem;
    @include mdUp {
      max-width: 47.2rem;
      margin-top: 4.5rem;
      margin-bottom: -1.1rem;
    }
  }
  .footer {
    @include mdUp {
      align-self: flex-end;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 2.1rem;
  border: 0.3rem solid $c-header-outline;
  border-radius: 0.6rem;
  @include mdUp {
    padding: 2.1rem 2.2rem 1.5rem 2.8rem;
    border-radius: 1.6rem;
  }
}

.title {
  box-sizing: content-box;
  width: 5rem;
  height: auto;
  @include mdUp {
    width: 11.5rem;
  }
}

.score {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-self: flex-start;
  min-width: 8rem;
  padding: 1rem;
  background: $c-light;
  border-radius: 0.4rem;
  @include mdUp {
    min-width: 15rem;
    margin: -0.2rem 0;
    padding: 1.5rem;
    border-radius: 0.8rem;
  }
  > div:nth-child(1) {
    color: $c-score-text;
    font: 600 1rem Barlow Semi Condensed, sans-serif;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    @include mdUp {
      font-size: 1.7rem;
      letter-spacing: 0.12em;
    }
  }
  > div:nth-child(2) {
    color: $c-dark-text;
    font: 700 4rem / 100% Barlow Semi Condensed, sans-serif;
    letter-spacing: -0.02em;
    @include mdUp {
      font-size: 6.4rem;
      letter-spacing: normal;
    }
  }
}

.playField {
  > div {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 97.46%;
    > .grid {
      position: absolute;
      top: 0;
      left: 0;
      display: grid;
      grid-template:
        '  .     .      .    scissors scissors scissors  .     .     .  ' 129fr
        'spock spock    .    scissors scissors scissors  .   paper paper' 16fr
        'spock spock    .       .        .        .      .   paper paper' 129fr
        '  .     .      .       .        .        .      .     .     .  ' 41fr
        '  .   lizard lizard  lizard     .      rock    rock rock    .  ' 145fr
        / 65fr 80fr 19fr 46fr 52fr 47fr 18fr 80fr 65fr;
      width: 100%;
      height: 100%;
      background: center/70% no-repeat url(bg-pentagon.svg);
    }
  }
}

.option {
  --gradient-start: hsl(0, 0%, 45%);
  --gradient-end: hsl(0, 0%, 55%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  background: linear-gradient(
    to top,
    var(--gradient-start),
    var(--gradient-end)
  );
  border: none;
  border-radius: 50%;
  box-shadow: inset 0 -0.2rem darken(gray, 10%), 0 0.2rem darken(gray, 10%);
  cursor: pointer;
  @include mdUp {
    box-shadow: inset 0 -0.3rem darken(gray, 10%), 0 0.3rem darken(gray, 10%);
  }
  > span {
    display: block;
    width: 77%;
    height: 77%;
    background: darken($c-light, 10%);
    border-radius: 50%;
    box-shadow: inset 0 0.4rem rgba($c-dark-text, 0.2);
    @include mdUp {
      box-shadow: inset 0 0.6rem rgba($c-dark-text, 0.2);
    }
  }
  &:focus {
    outline: none;
  }
}

@each $option, $gradient in $gradients {
  .#{$option} {
    $g-end: nth($gradient, 2);
    --gradient-start: #{nth($gradient, 1)};
    --gradient-end: #{$g-end};
    grid-area: #{$option};
    box-shadow: inset 0 -0.2rem darken($g-end, 15%),
      0 0.2rem darken($g-end, 15%);
    @include mdUp {
      box-shadow: inset 0 -0.3rem darken($g-end, 15%),
        0 0.3rem darken($g-end, 15%);
    }
  }
}

.scissors > span {
  padding: 20% 22.8% 16.6% 18.6%;
}

.spock > span {
  padding: 18.6% 20.7% 17.2% 24.8%;
}

.paper > span {
  padding: 20% 22.1% 15.9% 20.7%;
}

.lizard > span {
  padding: 19.3% 16.6% 15.9% 16.6%;
}

.rock > span {
  padding: 24.1% 21.4% 19.3% 22.1%;
}

.rules {
  padding: 0.9rem 3.6rem;
  color: $c-light;
  font: 600 1.7rem Barlow Semi Condensed, sans-serif;
  letter-spacing: 0.12em;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  border: 0.2rem solid $c-light;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: box-shadow 0.15s, background-color 0.25s;
  &:focus {
    border-color: $c-score-text;
    outline: none;
  }
  &:hover,
  &:active {
    background-color: rgba(white, 0.1);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(black, 0.5);
  transition: opacity 1s;
}

.modal {
  z-index: 105;
  display: grid;
  grid-template-rows: auto 95fr auto 138fr auto;
  justify-items: center;
  width: 100%;
  height: 100%;
  padding: 9.5rem 3.2rem 6.5rem;
  background: $c-light;
  border-radius: 0.8rem;
  @include smUp {
    grid-gap: 2rem;
    grid-template: repeat(2, auto) / repeat(2, auto);
    max-width: 40rem;
    height: auto;
    padding: 3.2rem 3.2rem 4.7rem;
  }
  > h2 {
    color: $c-dark-text;
    font: 700 3.2rem/100% Barlow Semi Condensed, sans-serif;
    text-transform: uppercase;
    @include smUp {
      align-self: center;
      justify-self: start;
    }
  }
  > img {
    grid-row: 3;
    width: 100%;
    height: auto;
    @include smUp {
      grid-area: 2 / 1 / -1 / -1;
    }
  }
  > button {
    display: inline-flex;
    grid-row: 5;
    margin: -1.4rem;
    padding: 1.4rem;
    background: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.25s, box-shadow 0.25s;
    @include smUp {
      grid-area: 1 / 2;
      align-self: center;
      justify-self: end;
    }
    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 0.2rem #b8baca;
    }
    &:hover {
      background-color: #e1e4ed;
    }
    &:active {
      background-color: #b8baca;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fade 0.3s;
}

.fadeOut {
  animation: fade 0.3s reverse;
}

.hidden {
  display: none;
}
