@import '../../../../node_modules/reset-css/sass/reset';
@import '../../../includes/defaults';

// Colors
$c-dark-text: hsl(229, 25%, 31%);
$c-score-text: hsl(229, 64%, 46%);
$c-header-outline: hsl(217, 16%, 45%);

// Gradients
$g-scissors: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$g-paper: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$g-rock: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
$g-lizard: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
$g-cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
$g-radial: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
