<ul class="{{ include.listClass }}">
  <li class="{{ include.itemClass }}">
    <a
      href="https://facebook.com"
      target="_blank"
      rel="noreferrer"
      class="{{ include.linkClass }}"
      aria-label="Facebook"
    >
      {% include icons/facebook.html class=include.iconClass %}
    </a>
  </li>
  <li class="{{ include.itemClass }}">
    <a
      href="https://twitter.com"
      target="_blank"
      rel="noreferrer"
      class="{{ include.linkClass }}"
      aria-label="Twitter"
    >
      {% include icons/twitter.html class=include.iconClass %}
    </a>
  </li>
  <li class="{{ include.itemClass }}">
    <a
      href="https://instagram.com"
      target="_blank"
      rel="noreferrer"
      class="{{ include.linkClass }}"
      aria-label="Instagram"
    >
      {% include icons/instagram.html class=include.iconClass %}
    </a>
  </li>
</ul>
