extends ../../../includes/layout

block variables
  -
    const title = 'Fylo landing page';
    const slug = 'fylo-landing-page-with-two-column-layout';

block content
  header.header
    .header_container
      .logo
      nav.nav
        ul.nav_list
          each label in ['Features', 'Team', 'Sign In']
            li: a.nav_link(href='#')= label
  main
    h1.srOnly Fylo - a cloud file storage
    section.intro
      .intro_container
        .intro_image
          .illustration
        .intro_content
          h2.intro_heading.heading
            | All your files in one secure location, accessible anywhere.
          p.intro_text.text
            | Fylo stores your most important files in one secure location. Access
            | them wherever you need, share and collaborate with friends, family,
            | and co-workers.
          form.intro_signup.signupForm(onsubmit='return false' novalidate='')
            label.emailField
              input.emailField_input(type='email' name='email' placeholder='Enter your email...')
              span.srOnly Email, required
            button.button(type='submit') Get Started
    .curvedTop
    section.benefits
      .benefits_container
        .benefits_image
          .illustration
        .benefits_content
          h2.benefits_heading.heading
            | Stay productive, wherever you are
          p.benefits_text.text
            | Never let location be an issue when accessing your files. Fylo has you
            | covered for all of your file storage needs.
          p.benefits_text.text
            | Securely share files and folders with friends, family and colleagues
            | for live collaboration. No email attachments required!
          .benefits_link
            a.standoutLink(href='#')
              span.standoutLink_label See how Fylo works
              .standoutLink_underline
          .benefits_card.testimonials
            blockquote.testimonials_quote
              | Fylo has improved our team productivity by an order of magnitude.
              | Since making the switch our team has become a well-oiled
              | collaboration machine.
            figure.testimonials_author.person
              img.person_avatar(src='avatar-testimonial.jpg' alt="Kyle Burton's avatar")
              p.person_name Kyle Burton
              p.person_position Founder &amp; CEO, Huddle
    section.promo
      .promo_container
        .promo_content
          h2.promo_heading.heading
            | Get early access today
          p.promo_text.text
            | It only takes a minute to sign up and our free starter tier is
            | extremely generous. If you have any questions, our support team would
            | be happy to help you.
        form.promo_signup.signupForm(onsubmit='return false' novalidate='')
          label.emailField
            input.emailField_input(type='email' name='email' placeholder='email@example.com')
            span.srOnly Email, required
          button.button(type='submit') Get Started For Free
  footer.footer
    .footer_container
      .footer_logo.logo
      address.footer_contacts.contacts
        a.contacts_text.link(href='tel:+15431234567') Phone: +1-543-123-4567
        a.contacts_text.link(href='mailto:example@fylo.com') example@fylo.com
      nav.footer_sitemap.sitemap
        ul.sitemap_list
          each label in ['About Us', 'Jobs', 'Press', 'Blog', 'Contact Us', 'Terms', 'Privacy']
            li.sitemap_item
              a.sitemap_link.link(href='#')= label
      - const listClass = 'footer_social social';
      - const itemClass = 'social_item';
      - const linkClass = 'social_link';
      - const iconClass = 'icon';
      include ../../../includes/socialLinks
