// stylelint-disable max-nesting-depth
.subscribe {
  margin-top: 3.2rem;
  position: relative;

  @include sm-up {
    margin-top: 4rem;
  }

  &__label {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  &__email {
    background: transparent;
    border: 0;
    border-radius: 2.4rem;
    box-shadow: inset 0 0 0 0.1rem $color-desaturated-red;
    color: $color-dark-grayish-red;
    font: 1.4rem Josefin Sans, sans-serif;
    padding: 1.7rem $email-pr-xs 1.6rem $email-pl-xs;
    transition: $feedback-transition-time;
    width: 100%;

    @include sm-up {
      border-radius: 2.8rem;
      font-size: 1.6rem;
      padding: 2rem $email-pr-lg 2rem $email-pl-lg;
    }

    &::placeholder {
      color: $color-desaturated-red;
    }

    &:focus {
      box-shadow: inset 0 0 0 0.2rem $color-desaturated-red;
      outline: none;
    }
  }

  &__error-icon {
    background: url('../images/icon-error.svg') left no-repeat;
    background-size: contain;
    height: $error-icon-size-xs;
    opacity: 0;
    position: absolute;
    right: $submit-width-xs + 1rem;
    top: 1.4rem;
    transition: all $feedback-transition-time;
    width: 0;

    @include sm-up {
      height: $error-icon-size-lg;
      right: $submit-width-lg + 1.6rem;
      top: 1.6rem;
    }
  }

  &__submit {
    background: url('../images/icon-arrow.svg') center no-repeat, $gradient-btn;
    border: 0;
    border-radius: 2.4rem;
    box-shadow: 0 1rem 1.4rem hsla(0, 36%, 70%, 0.5);
    height: 4.8rem;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: $submit-width-xs;

    @include sm-up {
      border-radius: 2.8rem;
      height: 5.6rem;
      width: $submit-width-lg;
    }

    &:hover,
    &:focus {
      background: url('../images/icon-arrow.svg') center no-repeat, $gradient-btn-hover;
      box-shadow: 0 1.6rem 1.4rem hsla(0, 36%, 70%, 0.5);
      outline: none;
    }

    &:active {
      background: url('../images/icon-arrow.svg') center no-repeat, $gradient-btn-active;
      box-shadow: 0 1rem 1.4rem hsla(0, 36%, 70%, 0.5);
    }
  }

  &__feedback {
    color: transparent;
    font-size: 1.3rem;
    padding: 0.8rem $email-pl-xs;
    text-align: left;
    transition: color $feedback-transition-time;

    @include sm-up {
      padding: 1.1rem $email-pl-lg;
    }
  }

  &--error {
    .subscribe__email {
      box-shadow: inset 0 0 0 0.1rem $color-soft-red;
      padding-right: $email-pr-err-xs;

      @include sm-up {
        padding-right: $email-pr-err-lg;
      }

      &:focus {
        box-shadow: inset 0 0 0 0.2rem $color-soft-red;
      }
    }

    .subscribe__errorIcon {
      opacity: 1;
      width: $error-icon-size-xs;

      @include sm-up {
        width: $error-icon-size-lg;
      }
    }

    .subscribe__feedback {
      color: $color-soft-red;
    }
  }

  &--success {
    .subscribe__feedback {
      color: hsl(120, 80%, 40%);
    }
  }
}
