---
---

#unknown {
} // fixes Unknown word (CssSyntaxError) on frontmatter by stylelint

@import 'normalize';
@import 'attribution';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

$breakpoint-mobile: 375px;
$breakpoint-desktop: 1440px;

$color-background: white;
$color-desaturated-red: hsl(0, 36%, 70%);
$color-soft-red: hsl(0, 93%, 68%);
$color-dark-grayish-red: hsl(0, 6%, 24%);
$gradient-bg: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradient-btn: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
$gradient-btn-active: linear-gradient(
  135deg,
  hsl(0, 80%, 81%),
  hsl(0, 74%, 69%)
);
$gradient-btn-hover: linear-gradient(
  135deg,
  hsl(0, 84%, 93%),
  hsl(0, 84%, 88%)
);

$border-thin: 0.1rem solid $color-desaturated-red;
$border-focus: 0.2rem solid $color-soft-red;
$shadow-btn: 0 1rem 1.4rem hsla(0, 36%, 70%, 0.5);
$shadow-btn-hover: 0 1.6rem 1.4rem hsla(0, 36%, 70%, 0.5);

$hero-mobile: "{{ '/assets/base-apparel-coming-soon-page/hero-mobile.jpg' | relative_url }}";
$icon-arrow: "{{ '/assets/base-apparel-coming-soon-page/icon-arrow.svg' | relative_url }}";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Josefin Sans, sans-serif;
  background: $gradient-bg;
}

h1,
p {
  margin: 0;
}

.header {
  display: flex;
  padding: 3.1rem 3.2rem 3.2rem;
}

.logo {
  height: 2.1rem;
}

.heroImage {
  width: 100vw;
  height: 66.6667vw;
  background: url($hero-mobile) center no-repeat;
  background-size: cover;
}

.content {
  padding: 6.4rem 3.2rem 3.2rem;
  color: $color-desaturated-red;
  text-align: center;
  &_heading {
    font-weight: 300;
    font-size: 4rem;
    line-height: 1.05em;
    letter-spacing: 0.27em;
    text-transform: uppercase;
    &-accent {
      color: $color-dark-grayish-red;
      font-weight: 600;
    }
  }
  &_text {
    margin-top: 1.6rem;
    font-size: 1.4rem;
    line-height: 1.6em;
  }
}

.subscribe {
  margin-top: 3.2rem;
  &_label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
  }
  &_field {
    position: relative;
  }
  &_emailContainer {
    box-sizing: border-box;
    height: 4.8rem;
    border: $border-thin;
    border-radius: 2.4rem;
    &:focus-within {
      border: $border-focus;
      outline: none;
    }
  }
  &_email {
    position: absolute;
    top: 50%;
    left: 2.5rem;
    width: calc(100% - 8.1rem - 2.5rem);
    color: $color-dark-grayish-red;
    font-size: 1.6rem;
    background: transparent;
    border: none;
    transform: translateY(-50%);
    &::placeholder {
      color: $color-desaturated-red;
      letter-spacing: -0.06em;
    }
    &:focus {
      outline: none;
    }
  }
  &_submit {
    position: absolute;
    top: 50%;
    right: 0;
    width: 6.4rem;
    height: 100%;
    padding: 0;
    background: url($icon-arrow) center no-repeat, $gradient-btn;
    border: none;
    border-radius: 2.4rem;
    box-shadow: $shadow-btn;
    transform: translateY(-50%);
    &:focus {
      border: $border-focus;
      outline: none;
    }
    &:hover {
      background: url($icon-arrow) center no-repeat, $gradient-btn-hover;
      box-shadow: $shadow-btn-hover;
    }
    &:active {
      background: url($icon-arrow) center no-repeat, $gradient-btn-active;
      box-shadow: $shadow-btn;
    }
  }
  &_error {
    display: none;
  }
}
