---
---

#unknown {
} // fixes Unknown word (CssSyntaxError) on frontmatter by stylelint

@import 'normalize';
@import 'defaults';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap&text=WE%27RE');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap&');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap&text=COMINGS');

$color-background: white;
$color-desaturated-red: hsl(0, 36%, 70%);
$color-soft-red: hsl(0, 93%, 68%);
$color-dark-grayish-red: hsl(0, 6%, 24%);
$gradient-bg: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradient-btn: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
$gradient-btn-active: linear-gradient(
  135deg,
  hsl(0, 80%, 81%),
  hsl(0, 74%, 69%)
);
$gradient-btn-hover: linear-gradient(
  135deg,
  hsl(0, 84%, 93%),
  hsl(0, 84%, 88%)
);

$border-thin: 0.1rem solid $color-desaturated-red;
$border-focus: 0.2rem solid $color-soft-red;
$shadow-btn: 0 1rem 1.4rem hsla(0, 36%, 70%, 0.5);
$shadow-btn-hover: 0 1.6rem 1.4rem hsla(0, 36%, 70%, 0.5);

$feedback-transition-time: 0.3s;

// subscribe input & errorIcon spacing
$absWrapper-pl-xs: 2.4rem;
$absWrapper-pl-lg: 3.2rem;
$absWrapper-pr: 1.6rem;
$submit-width-xs: 6.4rem;
$submit-width-lg: 10rem;
$absWrapper-shrink-xs: $absWrapper-pl-xs + $absWrapper-pr + $submit-width-xs;
$absWrapper-shrink-lg: $absWrapper-pl-lg + $absWrapper-pr + $submit-width-lg;

// assets
$hero-mobile: "{{ '/assets/base-apparel-coming-soon-page/hero-mobile.jpg' | relative_url }}";
$hero-desktop: "{{ '/assets/base-apparel-coming-soon-page/hero-desktop.jpg' | relative_url }}";
$icon-arrow: "{{ '/assets/base-apparel-coming-soon-page/icon-arrow.svg' | relative_url }}";
$icon-error: "{{ '/assets/base-apparel-coming-soon-page/icon-error.svg' | relative_url }}";
$bg-pattern-desktop: "{{ '/assets/base-apparel-coming-soon-page/bg-pattern-desktop.svg' | relative_url }}";

@mixin smLandscapeUp {
  @media (min-width: rem(1024px)) and (orientation: landscape) {
    @content;
  }
}

@mixin lgUp {
  @media (min-width: rem(1440px)) {
    @content;
  }
}

.wrapper {
  font-size: 1.6rem;
  font-family: Josefin Sans, sans-serif;
  background: $gradient-bg;
  @include smLandscapeUp {
    position: relative;
    display: grid;
    grid-template: auto 1fr / 1fr 3.819444% 42.361111%;
    height: 100vh;
  }
}

.header {
  display: flex;
  padding: 3.1rem 3.2rem 3.2rem;
  @include smLandscapeUp {
    grid-area: 1 / 1;
  }
  @include lgUp {
    width: 44.5rem;
    margin: auto;
    padding: 6.5rem 0;
  }
}

.logo {
  height: 2.1rem;
  @include lgUp {
    height: 3.3rem;
  }
}

.heroImage {
  width: 100vw;
  height: 66.6667vw;
  background: url($hero-mobile) center no-repeat;
  background-size: cover;
  @include smLandscapeUp {
    grid-area: 1 / 3 / span 2;
    width: 100%;
    height: 100%;
    background-image: url($hero-desktop);
  }
}

.content {
  max-width: 40rem;
  margin: 0 auto;
  padding: 6.4rem 3.2rem 3.2rem;
  color: $color-desaturated-red;
  text-align: center;
  @include smLandscapeUp {
    grid-area: 2 / 1;
  }
  @include lgUp {
    max-width: 44.5rem;
    padding: 6.5rem 0;
    text-align: left;
  }
  &_heading {
    margin: 0;
    font-weight: 300;
    font-size: 4rem;
    line-height: 105%;
    letter-spacing: 0.27em;
    text-transform: uppercase;
    @include lgUp {
      font-size: 6.4rem;
      line-height: 110%;
    }
    &-accent {
      color: $color-dark-grayish-red;
      font-weight: 600;
    }
  }
  &_text {
    margin: 1.6rem 0 0;
    font-size: 1.4rem;
    line-height: 160%;
    @include lgUp {
      margin-top: 2rem;
      font-size: 1.6rem;
      line-height: 175%;
      letter-spacing: 0.004em;
    }
  }
}

.background {
  @include smLandscapeUp {
    grid-area: 1 / 1 / span 2 / span 2;
  }
  @include lgUp {
    z-index: -1;
    background: url($bg-pattern-desktop) no-repeat;
    background-size: 100% 100%;
  }
}

.subscribe {
  margin-top: 3.2rem;
  @include lgUp {
    margin-top: 4rem;
  }
  &_label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
  }
  &_container {
    position: relative;
  }
  &_border {
    box-sizing: border-box;
    height: 4.8rem;
    border: $border-thin;
    border-radius: 2.4rem;
    @include lgUp {
      height: 5.6rem;
      border-radius: 2.8rem;
    }
    &:focus-within {
      border: $border-focus;
      outline: none;
    }
  }
  &_absWrapper {
    position: absolute;
    top: 50%;
    left: $absWrapper-pl-xs;
    display: flex;
    align-items: center;
    width: calc(100% - #{$absWrapper-shrink-xs});
    transform: translateY(-50%);
    @include lgUp {
      left: $absWrapper-pl-lg;
      width: calc(100% - #{$absWrapper-shrink-lg});
    }
  }
  &_email {
    flex: 1;
    color: $color-dark-grayish-red;
    font-size: 1.4rem;
    background: transparent;
    border: none;
    transition: width $feedback-transition-time;
    @include lgUp {
      left: $absWrapper-pl-lg;
      width: calc(100% - #{$absWrapper-shrink-lg});
      font-size: 1.6rem;
    }
    &::placeholder {
      color: $color-desaturated-red;
    }
    &:focus {
      outline: none;
    }
  }
  &_errorIcon {
    width: 0;
    height: 2rem;
    background: url($icon-error) left no-repeat;
    background-size: contain;
    opacity: 0;
    transition: all $feedback-transition-time;
    @include lgUp {
      height: 2.4rem;
    }
  }
  &_submit {
    position: absolute;
    top: 50%;
    right: 0;
    width: $submit-width-xs;
    height: 100%;
    padding: 0;
    background: url($icon-arrow) center no-repeat, $gradient-btn;
    border: none;
    border-radius: 2.4rem;
    box-shadow: $shadow-btn;
    transform: translateY(-50%);
    @include lgUp {
      width: $submit-width-lg;
      border-radius: 2.8rem;
    }
    &:focus {
      border: $border-focus;
      outline: none;
    }
    &:hover {
      background: url($icon-arrow) center no-repeat, $gradient-btn-hover;
      box-shadow: $shadow-btn-hover;
    }
    &:active {
      background: url($icon-arrow) center no-repeat, $gradient-btn-active;
      box-shadow: $shadow-btn;
    }
  }
  &_feedback {
    padding: 0.8rem $absWrapper-pl-xs;
    color: transparent;
    font-size: 1.3rem;
    text-align: left;
    transition: color $feedback-transition-time;
    @include lgUp {
      padding: 1.1rem $absWrapper-pl-lg;
    }
  }
  &-error {
    .subscribe_errorIcon {
      width: 2rem;
      margin-left: 1rem;
      opacity: 1;
      @include lgUp {
        width: 2.4rem;
        margin-left: 1.6rem;
      }
    }
    .subscribe_feedback {
      color: $color-soft-red;
    }
  }
  &-success {
    .subscribe_feedback {
      color: hsl(120, 80%, 40%);
    }
  }
}
