$color: #595959;

.attribution {
  padding: 1rem;
  color: $color;
  font-size: 1.3rem;
  font-family: sans-serif;
  line-height: 1.5em;
  text-align: center;
  a {
    color: $color;
    &[target='_blank']:after {
      display: inline-block;
      width: 0.8em;
      height: 0.8em;
      padding-left: 0.2em;
      content: url(/html-templates/assets/external-link.svg);
    }
  }
}
