extends includes/seo

block content
  .wrapper
    header.header
      img.logo(src='images/logo.svg' alt='Project tracker logo')
      nav.menu
        input#menuToggle.srOnly.menu_checkbox(type='checkbox')
        label.menu_hamburger(for='menuToggle')
          span
          span
          span
        ul.menu_list
          each label in ['Product', 'Features', 'Pricing']
            li: a.menu_link(href='javascript:void(0)') #{label}
          li.menu_separator
          li: a.menu_link(href='javascript:void(0)') Login
    section.intro
      .badge New
      h1.intro_h1 Monograph Dashboard
      h2.intro_h2 Powerful insights into your team
      p.intro_text Project planning and time tracking for agile teams
      button.btn Schedule a demo
      span.intro_label to see a preview
