/* stylelint-disable */

@import 'reset';
@import 'defaults';

$red: hsl(0, 100%, 68%);
$very-dark-blue: hsl(230, 29%, 20%);
$dark-grayish-blue: hsl(230, 11%, 40%);
$grayish-blue: hsl(231, 7%, 65%);
$light-grayish-blue: hsl(207, 33%, 95%);

@mixin smUp {
  @media (min-width: rem(560px)) {
    @content;
  }
}

@mixin mdUp {
  @media (min-width: rem(768px)) {
    @content;
  }
}

@mixin lgUp {
  @media (min-width: rem(1300px)) {
    @content;
  }
}

.wrapper {
  background: top 12.1rem left 0.9rem / 50.4rem 24.4rem no-repeat
    url(illustration-devices.svg);
  min-height: 100vh;
  padding: 3.8rem 3.2rem;
  position: relative;
  @include smUp {
    background-position: top 12.1rem center;
    padding: 6.4rem;
  }
  @include mdUp {
    background-position: left 38rem top 21.1rem;
    background-size: auto;
  }
  @include lgUp {
    background-position: right -26.8rem top 21.1rem;
    padding: 6.4rem 16.5rem;
  }

  &::before {
    background: $light-grayish-blue;
    border-bottom-left-radius: 6rem;
    content: '';
    height: 42.5rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 49%;
    z-index: -10;
  }
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 2.4rem;
  @include mdUp {
    width: 3.2rem;
  }
}

.menu {
  &_checkbox:checked {
    ~ .menu_list {
      opacity: 1;
      transform: translate(-50%, 0);
      transition: transform 0.3s, opacity 0.3s, visibility 0s;
      visibility: visible;
      @include smUp {
        transform: none;
      }
    }

    ~ .menu_hamburger {
      > span:first-child {
        transform: rotate(45deg) translate(0.21rem, -0.37rem);
      }

      > span:nth-child(2) {
        opacity: 0;
        transform: scale(0.2);
      }

      > span:last-child {
        transform: rotate(-45deg) translate(0.21rem, 0.37rem);
      }
    }
  }

  &_hamburger {
    border-radius: 0.4rem;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    height: 4.8rem;
    justify-content: center;
    margin: -1.2rem;
    padding: 1.2rem;
    transition: background-color 0.15s;
    width: 4.8rem;
    @include smUp {
      display: none;
    }

    &:hover {
      background-color: rgba($dark-grayish-blue, 0.2);
    }

    &:focus {
      outline: 0.1rem solid black;
    }

    > span {
      background: $dark-grayish-blue;
      display: block;
      height: 0.2rem;
      transition: transform 0.3s, opacity 0.3s;
      width: 100%;

      &:first-child {
        transform-origin: top left;
      }

      &:last-child {
        transform-origin: bottom left;
      }
    }

    > span + span {
      margin-top: 0.5rem;
    }
  }

  &_list {
    align-items: center;
    background: white;
    border-radius: 0.2rem;
    box-shadow: 0 0.4rem 0.9rem rgba(black, 0.1);
    display: flex;
    flex-flow: column;
    left: 50%;
    max-width: 31.1rem;
    opacity: 0;
    padding: 2.4rem;
    position: absolute;
    top: 10rem;
    transform: translate(-50%, -2rem);
    transition: transform 0.3s, opacity 0.3s, visibility 0s 0.3s;
    visibility: hidden;
    width: calc(100% - 6.4rem);
    @include smUp {
      background: transparent;
      box-shadow: none;
      flex-flow: row;
      max-width: none;
      opacity: 1;
      padding: 0;
      position: static;
      transform: none;
      transition: none;
      visibility: visible;
      width: auto;

      > :nth-child(2) {
        margin-left: 4.2rem;
      }

      > :nth-child(3) {
        margin-left: 4.1rem;
      }

      > :nth-child(4) {
        margin-left: 4rem;
      }

      > :last-child {
        margin-left: 4.6rem;
      }
    }

    > * + * {
      margin-top: 2.4rem;
      @include smUp {
        margin-top: 0;
      }
    }

    > li:last-child > .menu_link {
      color: $grayish-blue;
    }
  }

  &_link {
    color: $very-dark-blue;
    font: 700 1.8rem Barlow Condensed, sans-serif;
    letter-spacing: 0.07em;
    text-decoration: none;
    text-transform: uppercase;
    @include smUp {
      font-size: 1.6rem;
      letter-spacing: 0.03em;
    }

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      outline: 0.1rem dashed $red;
    }
  }

  &_separator {
    background: hsl(0, 0%, 88%);
    border: none;
    height: 0.1rem;
    margin-bottom: 0;
    width: 100%;
    @include smUp {
      border-radius: 50%;
      height: 0.7rem;
      width: 0.7rem;
    }
  }
}

.intro {
  margin-top: 39rem;
  @include smUp {
    margin-top: 30rem;
  }
  @include mdUp {
    margin-top: 16.2rem;
  }

  > .badge {
    margin-right: 1.6rem;
  }

  &_h1 {
    color: $grayish-blue;
    display: inline-block;
    font: 1.6rem Barlow Condensed, sans-serif;
    letter-spacing: 0.28em;
    line-height: 160%;
    text-transform: uppercase;
  }

  &_h2 {
    color: $very-dark-blue;
    font-family: Barlow Condensed, sans-serif;
    font-size: fluidFont(4, 6.4, 37.5, 144, rem);
    font-weight: 700;
    line-height: 100%;
    margin-top: 1.6rem;
    max-width: 30rem;
    text-transform: uppercase;
    @include mdUp {
      max-width: 35rem;
    }
    @include lgUp {
      max-width: 55rem;
    }
  }

  &_text {
    color: $dark-grayish-blue;
    font: 1.8rem Barlow, sans-serif;
    line-height: 145%;
    margin-bottom: 2.7rem;
    margin-top: 1.6rem;
    max-width: 28rem;
    @include mdUp {
      margin-bottom: 6.4rem;
      margin-top: 3.1rem;
    }
  }

  > .btn {
    margin-right: 2rem;
    @include mdUp {
      margin-right: 2.4rem;
    }
  }

  &_label {
    color: $grayish-blue;
    font: 1.4rem Barlow Condensed, sans-serif;
    letter-spacing: 0.18em;
    line-height: 185%;
    text-transform: uppercase;
    white-space: nowrap;
    @include mdUp {
      font-size: 1.6rem;
      letter-spacing: 0.29em;
    }
  }
}

.badge {
  background: $very-dark-blue;
  border-radius: 1.2rem;
  color: white;
  display: inline-block;
  font: 700 1.6rem Barlow Condensed, sans-serif;
  padding: 0.2rem 1rem 0.4rem;
  text-transform: uppercase;
}

.btn {
  background: $red;
  border: none;
  border-radius: 0.4rem;
  color: white;
  cursor: pointer;
  font: 700 1.6rem Barlow Condensed, sans-serif;
  padding: 1.1rem 2.4rem 1rem;
  text-transform: uppercase;
  transition: filter 0.15s, transform 0.15s;
  @include mdUp {
    font-size: 1.8rem;
    letter-spacing: 0.01em;
    padding: 1.3rem 3.2rem;
  }

  &:hover {
    filter: brightness(1.4);
  }

  &:focus {
    outline: 0.1rem dotted $red;
  }

  &:active {
    transform: translateY(0.2rem);
  }
}
