@import '../../../includes/reset';
@import '../../../includes/defaults';

@mixin smUp {
  @media (min-width: rem(768px)) {
    @content;
  }
}

$color-primary-cyan: hsl(179, 62%, 43%);
$color-primary-cyan-lighter: hsl(179, 47%, 52%);
$color-primary-bright-yellow: hsl(71, 73%, 54%);
$color-neutral-light-gray: hsl(204, 43%, 93%);
$color-neutral-grayish-blue: hsl(218, 22%, 67%);
$color-light: white;

.wrapper {
  padding: 7.2rem 3.2rem 7.6rem;
  font-size: 1.6rem;
  background: $color-neutral-light-gray;
  @include smUp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
  }
}

.offer {
  overflow: hidden;
  font-family: Karla, sans-serif;
  border-radius: 0.4rem;
  box-shadow: 0 2rem 2.4rem hsla(0, 0, 0, 0.1);
  @include smUp {
    width: 63.5rem;
    border-radius: 0.8rem;
  }

  // sections
  &_product {
    padding: 2.4rem 2.4rem 3.2rem;
    background: $color-light;
    @include smUp {
      padding: 2.4rem 4rem 4rem;
    }
  }
  &_subscription {
    padding: 2.4rem;
    background: $color-primary-cyan;
    @include smUp {
      padding: 4rem;
    }
  }
  &_benefits {
    padding: 2.4rem;
    background: $color-primary-cyan-lighter;
    @include smUp {
      padding: 4rem;
    }
  }

  // other
  &_container {
    @include smUp {
      display: flex;
      > section {
        width: 50%;
      }
    }
  }
  &_heading {
    margin: 0;
    padding: 2.8rem 2.4rem 0;
    background: $color-light;
    @include smUp {
      padding: 4rem 4rem 0;
    }
  }
  &_productText {
    margin: 1.6rem 0 0;
    @include smUp {
      margin-top: 0.8rem;
    }
  }
  &_subscriptionText {
    margin: 0.2rem 0 0;
  }
  &_benefitsList {
    margin: 1.6rem 0 0;
    padding: 0;
    list-style: none;
    p {
      margin: 0;
    }
  }
  &_price {
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
    color: $color-neutral-light-gray;
    letter-spacing: -0.012em;
    > span {
      margin-right: 1.1rem;
      color: $color-light;
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 120%;
    }
  }
}

.heading {
  color: $color-primary-cyan;
  font-weight: 700;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: -0.012em;
  @include smUp {
    font-size: 2.4rem;
    line-height: 120%;
  }
}

.subheading {
  margin: 0;
  color: $color-light;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 125%;
  letter-spacing: -0.012em;
  &-accent {
    color: $color-primary-bright-yellow;
    font-size: 1.6rem;
    letter-spacing: -0.044em;
    @include smUp {
      font-size: 1.8rem;
      line-height: 135%;
      letter-spacing: -0.012em;
    }
  }
}

.text {
  color: $color-neutral-grayish-blue;
  font-size: 1.4rem;
  line-height: 190%;
  letter-spacing: -0.012em;
  @include smUp {
    font-size: 1.6rem;
    line-height: 165%;
  }
  &-light {
    color: $color-light;
  }
  &-lg {
    font-size: 1.6rem;
    line-height: 190%;
  }
  &-sm {
    color: $color-neutral-light-gray;
    font-size: 1.4rem;
    line-height: 145%;
  }
}

.button {
  width: 100%;
  margin-top: 2.4rem;
  padding: 1.3rem;
  color: $color-light;
  font: 700 1.6rem Karla, sans-serif;
  background: $color-primary-bright-yellow;
  border: 0.2rem solid $color-primary-bright-yellow;
  border-radius: 0.4rem;
  box-shadow: 0 1rem 0.8rem hsla(0, 0, 0, 0.1);
  transition: all 0.2s;
  @include smUp {
    border-radius: 0.6rem;
  }
  &:active {
    background: darken($color-primary-bright-yellow, 7%);
    box-shadow: 0 0.5rem 0.4rem hsla(0, 0, 0, 0.1);
  }
  &:focus {
    border: 0.2rem solid $color-light;
    outline: none;
  }
  &:hover {
    background: lighten($color-primary-bright-yellow, 7%);
    box-shadow: 0 1rem 1rem hsla(0, 0, 0, 0.2);
  }
}
