/* stylelint-disable */

@import 'reset';
@import 'defaults';

$color-primary-blue: hsl(223, 87%, 63%);
$color-secondary-pale-blue: hsl(223, 100%, 88%);
$color-secondary-light-red: hsl(354, 100%, 66%);
$color-neutral-gray: hsl(0, 0%, 59%);
$color-neutral-very-dark-blue: hsl(209, 33%, 12%);
$color-secondary-green: hsl(145, 64%, 49%);

$button-shadow: 0 0.6rem 1rem rgba($color-primary-blue, 0.4);

@mixin smUp {
  @media (min-width: rem(690px)) {
    @content;
  }
}

body {
  background: white;
}

.wrapper {
  background: white;
  margin: auto;
  max-width: 40rem;
  padding: 3.6rem 2.4rem;
  @include smUp {
    max-width: 69rem;
  }
}

.text {
  color: $color-neutral-very-dark-blue;
  font-family: Libre Franklin, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: normal;
  @include smUp {
    font-size: 1.6rem;
  }

  &-h1 {
    color: $color-neutral-gray;
    font-size: 2.2rem;
    letter-spacing: 0.005em;
    line-height: 125%;
    @include smUp {
      font-size: 4.8rem;
    }
  }

  &-bold {
    color: $color-neutral-very-dark-blue;
    font-weight: 700;
  }

  &-secondary {
    color: $color-neutral-gray;
    font-size: 1rem;
    line-height: 120%;
    @include smUp {
      font-size: 1.2rem;
      line-height: 125%;
    }
  }
}

.icon {
  display: block;
  height: 1.6rem;
  width: 1.6rem;
}

.header {
  margin-top: 4.8rem;

  &_logo {
    margin: 0 auto;
  }
}

.logo {
  background: url(logo.svg) center no-repeat;
  background-size: contain;
  height: 1.6rem;
  width: 5.2rem;
  @include smUp {
    height: 2.6rem;
    width: 8.45rem;
  }
}

.content {
  position: relative;

  &_heading {
    margin: 4rem 0 0;
    text-align: center;
    @include smUp {
      margin-top: 5rem;
    }
  }

  &_paragraph {
    margin: 1.6rem 0 0;
    text-align: center;
    @include smUp {
      font-size: 2rem;
      line-height: 120%;
    }
  }

  &_form {
    margin-top: 3.2rem;
    @include smUp {
      margin-top: 4rem;
    }
  }
}

.subscribeForm {
  left: 50%;
  max-width: 69rem;
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  width: calc(100% - 4.8rem);
  @include smUp {
    align-items: flex-start;
    display: flex;
    width: 100%;
  }

  :first-child {
    @include smUp {
      flex: 1;
    }
  }

  &_feedback {
    border: 0;
    box-sizing: content-box;
    height: 0;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 3.2rem;
    text-align: center;
    transition: height 0.2s ease-in-out, padding 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
    @include smUp {
      text-align: left;
    }
  }

  &_submit {
    margin-top: 1rem;
    width: 100%;
    @include smUp {
      margin-left: 1.6rem;
      margin-top: 0;
      width: unset;
    }
  }

  &-error {
    .emailField_input {
      border-color: $color-secondary-light-red;
    }

    .subscribeForm_feedback {
      color: $color-secondary-light-red;
      font-style: italic;
      letter-spacing: 0.015em;
    }
  }

  &-success {
    .emailField_input {
      border-color: $color-secondary-green;
    }

    .subscribeForm_feedback {
      color: $color-secondary-green;
    }
  }

  &-error,
  &-success {
    .subscribeForm_feedback {
      height: 2.4rem;
      opacity: 1;
      padding-bottom: 0.2rem;
      padding-top: 0.6rem;
      @include smUp {
        padding-top: 0.8rem;
      }
    }
  }
}

.emailField {
  display: block;

  &_input {
    background: white;
    border: 0.1rem solid $color-secondary-pale-blue;
    border-radius: 2rem;
    box-sizing: border-box;
    font: 300 1.2rem Libre Franklin, sans-serif;
    height: 4rem;
    padding: 0 3.2rem;
    transition: border-color 0.2s;
    width: 100%;
    @include smUp {
      border-radius: 2.8rem;
      font-size: 1.6rem;
      height: 5.6rem;
    }

    &::placeholder {
      color: $color-secondary-pale-blue;
    }

    &:focus {
      box-shadow: 0 0 0 0.3rem $color-secondary-pale-blue;
      outline: none;
    }
  }
}

.srOnly {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.button {
  background: $color-primary-blue;
  border: none;
  border-radius: 2rem;
  box-shadow: $button-shadow;
  box-sizing: border-box;
  color: white;
  font-family: Libre Franklin, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  height: 4rem;
  padding: 0 3.2rem;
  transition: 0.2s;
  @include smUp {
    border-radius: 2.8rem;
    font-size: 1.6rem;
    height: 5.6rem;
    padding: 0 6.25rem;
  }

  &:focus {
    box-shadow: $button-shadow, 0 0 0 0.3rem $color-secondary-pale-blue;
    outline: none;
  }

  &:hover {
    background: lighten($color-primary-blue, 7%);
  }

  &:active {
    background: darken($color-primary-blue, 7%);
  }
}

.background {
  background: url(illustration-dashboard.png) center no-repeat;
  background-size: contain;
  height: 19.6rem;
  margin-top: 19rem;
  @include smUp {
    height: 39rem;
    margin-top: 18.4rem;
  }
}

.footer {
  margin-top: 12rem;
  @include smUp {
    margin-top: 7rem;
  }

  &_copyright {
    margin: 2.4rem 0 0;
    text-align: center;
  }
}

.socialLinks {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  &_item {
    display: block;

    &:not(:first-child) {
      margin-left: 1.2rem;
    }
  }

  &_link {
    align-items: center;
    border: 0.1rem solid $color-secondary-pale-blue;
    border-radius: 50%;
    box-sizing: border-box;
    color: $color-primary-blue;
    display: flex;
    height: 3.2rem;
    justify-content: center;
    transition: 0.2s;
    width: 3.2rem;

    &:focus {
      border: 0.1rem solid $color-primary-blue;
      outline: none;
    }

    &:hover {
      background: $color-primary-blue;
      border-color: $color-primary-blue;
      color: white;
    }

    &:active {
      background: darken($color-primary-blue, 7%);
      border-color: darken($color-primary-blue, 7%);
    }
  }
}
