extends includes/seo

block content
  main.wrapper
    article.card
      header.card__header
        img.card__preview(src='images/drawers.jpg' alt='Room furniture')
      .card__body
        h1.
          Shift the overall look and feel by adding these wonderful touches to
          furniture in your home
        p.
          Ever been in a room and felt like something was missing? Perhaps it
          felt slightly bare and uninviting. I’ve got some simple tips to help
          you make any room feel complete.
        .meta
          img.meta__avatar(
            src='images/avatar-michelle.jpg'
            alt='Michelle\'s avatar'
          )
          p.meta__name Michelle Appleton
          time.meta__date(datetime='2020-06-28') 28 Jun 2020
          button#share.meta__share-btn.icon-btn(aria-label='Share')
            include images/icon-share.svg
        .share.hidden
          p.share__label Share
          ul.share__list
            li: button.icon-btn(aria-label='Facebook')
              include images/icon-facebook.svg
            li: button.icon-btn(aria-label='Twitter')
              include images/icon-twitter.svg
            li: button.icon-btn(aria-label='Pinterest')
              include images/icon-pinterest.svg
