extends includes/seo

block content
  main
    article.card
      header
        img(src='images/drawers.jpg' alt='Room furniture')
      .card-body
        h2.
          Shift the overall look and feel by adding these wonderful touches to
          furniture in your home
        p.
          Ever been in a room and felt like something was missing? Perhaps it
          felt slightly bare and uninviting. I’ve got some simple tips to help
          you make any room feel complete.
        .meta
          img(src='images/avatar-michelle.jpg' alt='Michelle\'s avatar')
          p Michelle Appleton
          time(datetime='2020-06-28') 28 Jun 2020
          button#share.iconBtn(aria-label='Share')
            include images/icon-share.svg
        .share.hidden
          p Share
          ul
            li: button.iconBtn(aria-label='Facebook')
              include images/icon-facebook.svg
            li: button.iconBtn(aria-label='Twitter')
              include images/icon-twitter.svg
            li: button.iconBtn(aria-label='Pinterest')
              include images/icon-pinterest.svg
