---
---

#unknown {
} // fixes Unknown word (CssSyntaxError) on frontmatter by stylelint

@import 'normalize';
@import 'defaults';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap&text=Get%20sardfoTyIF');

$logo: "{{ '/assets/huddle-landing-page-with-alternating-feature-blocks/logo.svg' | relative_url }}";
$bgHeroMobile: "{{ '/assets/huddle-landing-page-with-alternating-feature-blocks/bg-hero-mobile.svg' | relative_url }}";
$imgMockups: "{{ '/assets/huddle-landing-page-with-alternating-feature-blocks/illustration-mockups.svg' | relative_url }}";
$illustrations: "{{ '/assets/huddle-landing-page-with-alternating-feature-blocks/illustration-grow-together.svg' | relative_url }}",
  "{{ '/assets/huddle-landing-page-with-alternating-feature-blocks/illustration-flowing-conversation.svg' | relative_url }}",
  "{{ '/assets/huddle-landing-page-with-alternating-feature-blocks/illustration-your-users.svg' | relative_url }}";
$contactsIcons: "{{ '/assets/huddle-landing-page-with-alternating-feature-blocks/icon-location.svg' | relative_url }}",
  "{{ '/assets/huddle-landing-page-with-alternating-feature-blocks/icon-phone.svg' | relative_url }}",
  "{{ '/assets/huddle-landing-page-with-alternating-feature-blocks/icon-email.svg' | relative_url }}";

:root {
  --c-pink: hsl(322, 100%, 66%);
  --c-veryPaleCyan: hsl(193, 100%, 96%);
  --c-veryDarkCyan: hsl(192, 100%, 9%);
  --c-grayishBlue: hsl(208, 11%, 55%);
  --c-light: white;
}

// #region Components

.heading {
  margin: 0;
  font: 600 2rem/150% Poppins, sans-serif;
  text-transform: capitalize;
  &-sm {
    font-size: 1.8rem;
  }
  &-lg {
    font-size: 2.4rem;
  }
}

.text {
  margin: 0;
  font: 400 1.6rem/150% Open Sans, sans-serif;
  &-sm {
    font-size: 1.4rem;
  }
  &-lg {
    font-size: 1.8rem;
  }
  &-link {
    color: inherit;
    text-decoration: none;
    &:focus {
      outline: 0.1rem solid var(--c-pink);
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.colorLight {
  color: var(--c-veryPaleCyan);
}

.colorDark {
  color: var(--c-veryDarkCyan);
}

.colorGray {
  color: var(--c-grayishBlue);
}

.logo {
  width: 10.4rem;
  height: 1.6rem;
  background: url($logo) left center no-repeat;
  background-size: 100% 100%;
  &-light {
    background: var(--c-light);
    -webkit-mask: url($logo) no-repeat 50% 50%;
    mask: url($logo) no-repeat 50% 50%;
    -webkit-mask-size: contain;
    mask-size: contain;
  }
  &-lg {
    width: 16.8rem;
    height: 2.7rem;
  }
}

.button {
  padding: 0.3em 2.1em 0.5em;
  color: var(--c-veryDarkCyan);
  font-size: 1rem;
  text-transform: capitalize;
  background: var(--c-light);
  border: 0.1em solid var(--c-light);
  border-radius: 1.1em;
  box-shadow: 0 0.4em 0.6em hsla(0, 0%, 0%, 0.2);
  cursor: pointer;
  transition: 0.2s;
  &:focus {
    border: 0.1em solid var(--c-veryDarkCyan);
    outline: none;
  }
  &:hover {
    box-shadow: 0 0.5em 0.8em hsla(0, 0%, 0%, 0.3);
  }
  &:active {
    transform: scale(0.98);
    filter: brightness(0.9);
  }
  &_label {
    font: 700 1em/140% Open Sans, sans-serif;
  }
  &-cta {
    padding: 0.9em 4.9em 1.3em;
    color: var(--c-light);
    background: var(--c-pink);
    border: 0.1em solid var(--c-pink);
    border-radius: 2em;
    > .button_label {
      font-size: 1.2em;
    }
  }
  &-textSm {
    > .button_label {
      font-size: 1em;
      line-height: 160%;
    }
  }
}

.illustration {
  width: 100%;
  padding-bottom: 81.3%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

.paper {
  background: var(--c-light);
  border-radius: 1.4rem;
  box-shadow: 0 0 1.4rem hsla(0, 0%, 0%, 0.1);
}

.feature {
  display: flex;
  flex-flow: column;
  text-align: center;
  &_image {
    padding: 5.6rem 4.8rem;
  }
  &_content {
    display: grid;
    grid-gap: 1.4rem;
    padding: 0 4rem 3.2rem;
  }
  &-reverse {
  }
}

.contacts {
  padding-left: 4rem;
  &_list {
    display: grid;
    grid-gap: 2.4rem;
    margin: 0;
    padding: 0;
    list-style: none;
    @for $i from 1 through length($contactsIcons) {
      :nth-child(#{$i})::before {
        background: url(#{nth($contactsIcons, $i)}) left center no-repeat;
        background-size: contain;
      }
    }
  }
  &_item {
    position: relative;
    padding-right: 0.1rem;
    &::before {
      position: absolute;
      top: 0.3rem;
      left: -3.8rem;
      display: block;
      width: 2rem;
      height: 2rem;
      content: '';
    }
  }
}

.nav {
  &_list {
    display: grid;
    grid-gap: 1.6rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.social {
  display: grid;
  grid-gap: 1.2em;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  list-style: none;
  &_item {
    display: block;
  }
  &_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2em;
    height: 3.2em;
    color: var(--c-light);
    background: transparent;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.1em var(--c-light);
    transition: 0.2s;
    &:focus,
    &:hover {
      color: var(--c-veryDarkCyan);
      background: var(--c-light);
      outline: none;
    }
  }
}

.icon {
  width: 50%;
  height: 50%;
}

.copyright {
  font: 600 1.2rem Poppins, sans-serif;
  letter-spacing: -0.05em;
  text-align: center;
}

// #endregion Components

// #region Layout

.content {
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.4rem 1.6rem 0;
  }
}

.hero {
  position: relative;
  padding: 13rem 3.6rem 3.3rem;
  background: url($bgHeroMobile) top center no-repeat, var(--c-veryPaleCyan);
  background-size: 100%;
  &_container {
    display: grid;
    grid-gap: 5.2rem;
  }
  &_content {
    text-align: center;
    :nth-child(2) {
      margin-top: 2.2rem;
    }
    :nth-child(3) {
      margin-top: 3.2rem;
    }
  }
  &_button {
    padding-right: 5.9em;
    padding-left: 5.9em;
  }
  &_image {
    padding-bottom: 71.3%;
    background-image: url($imgMockups);
  }
}

.features {
  padding: 6rem 2rem 23rem;
  background: var(--c-light);
  &_container {
    display: grid;
    grid-gap: 4rem;
    grid-template-rows: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    list-style: none;
    @for $i from 1 through length($illustrations) {
      :nth-child(#{$i}) .illustration {
        background-image: url(#{nth($illustrations, $i)});
      }
    }
    :nth-child(3) .feature_content {
      padding-right: 4.4rem;
      padding-left: 4.4rem;
    }
  }
}

.cta {
  position: absolute;
  bottom: -6.7rem;
  left: 50%;
  width: 35.1rem; // 93.6vw;
  padding: 4.4rem 1.6rem 4rem;
  text-align: center;
  transform: translateX(-50%);
  &_button {
    margin-top: 2.4rem;
  }
}

.footer {
  padding: 13.8rem 1.6rem 4.6rem;
  background: var(--c-veryDarkCyan);
  &_container {
  }
  .contacts {
    margin-top: 2.4rem;
  }
  .nav {
    margin-top: 5.6rem;
  }
  .social {
    margin-top: 5.3rem;
  }
  .copyright {
    margin-top: 2.3rem;
  }
}

// #endregion Layout
