extends ../../../includes/layout

block variables
  - const title = "Intro component with signup form";
  - const slug = "intro-component-with-signup-form";
  - const includeJs = true;

block content
  .wrapper
    section.intro
      header.header
        h2.header_heading.text.text-h2.text-bold
          | Learn to code by watching others
        p.header_text.text
          | See how experienced developers solve problems in real-time. Watching
          | scripted tutorials is great, but understanding how developers think is
          | invaluable.
      form.signupForm(novalidate='')
        header.signupForm_header.paper
          h3.signupForm_heading.text.text-h3
            span.text-bold Try it free 7 days
            |
            | then $20/mo. thereafter
        .signupForm_body.paper
          ul.signupForm_fieldList
            - let type = "text";
            - let name = "firstName";
            - let placeholder = "First Name";
            include ../../../includes/field
            - type = "text";
            - name = "lastName";
            - placeholder = "Last Name";
            include ../../../includes/field
            - type = "email";
            - name = "email";
            - placeholder = "Email Address";
            include ../../../includes/field
            - type = "password";
            - name = "password";
            - placeholder = "Password";
            include ../../../includes/field
          button.signupForm_submit.button Claim your free trial
          p.signupForm_agreement.text.text-secondary
            | By clicking the button, you are agreeing to our
            a.text-link(href='#') Terms and Services
