/* stylelint-disable */

@import 'reset';
@import 'defaults';

@mixin smUp {
  @media (min-width: rem(768px)) {
    @content;
  }
}

@mixin mdUp {
  @media (min-width: rem(1024px)) {
    @content;
  }
}

@mixin lgUp {
  @media (min-width: rem(1200px)) {
    @content;
  }
}

$c-violet: hsl(257, 40%, 49%);
$c-violet-light: hsl(257, 40%, 79%);
$c-violet-darker: hsl(257, 40%, 29%);
$c-white: white;

.wrapper {
  background: url(bg-mobile.svg) center top no-repeat, $c-violet;
  background-size: 100%;
  min-height: 100vh;
  @include lgUp {
    background: url(bg-desktop.svg) left center no-repeat, $c-violet;
    background-size: auto 100%;
  }
}

.container {
  margin: 0 auto;
  max-width: 54rem;
  overflow: hidden;
  padding: 3.8rem 3.8rem 4rem;
  @include mdUp {
    max-width: 80rem;
    padding: 8rem 4rem;
  }
  @include lgUp {
    display: grid;
    grid-column-gap: 4.1vw;
    grid-template:
      'header header' auto
      'hero content' 1fr
      'hero footer' auto
      / 48.334vw 36.44vw;
    height: 100vh;
    max-width: unset;
    padding: 8vh 5.556vw 5vh;
  }
}

.header {
  @include lgUp {
    grid-area: header;
  }
}

.logo {
  background: url(logo.svg) center no-repeat;
  background-size: contain;
  height: 1.9rem;
  margin-left: 0.2rem;
  width: 12rem;
  @include smUp {
    height: 2.6rem;
    width: 16.4rem;
  }
  @include mdUp {
    height: 3.2rem;
    margin: 0;
    width: 20rem;
  }
}

.heroImage {
  background: url(illustration-mockups.svg) center no-repeat;
  background-size: 100% 100%;
  height: 0;
  margin-top: 6.8rem;
  padding-top: 70.9%;
  transform: scale(1.02);
  width: 100%;
  @include lgUp {
    grid-area: hero;
    margin-top: 13vh;
  }
}

.content {
  margin-top: 6.1rem;
  text-align: center;
  @include lgUp {
    grid-area: content;
    margin-top: 17.5vh;
    text-align: left;
  }
}

.heading {
  color: $c-white;
  font: 700 2.4rem Poppins, san-serif;
  letter-spacing: -0.01em;
  line-height: 150%;
  margin: 0;
  text-transform: capitalize;
  @include smUp {
    font-size: 3.2rem;
  }
  @include mdUp {
    font-size: 4rem;
  }
}

.text {
  color: $c-white;
  font: 400 1.6rem/150% Open Sans, sans-serif;
  margin: 1.3rem 0 0;
  @include mdUp {
    font-size: 1.8rem;
    margin-top: 2rem;
  }
}

.button {
  background: $c-white;
  border: none;
  border-radius: 2rem;
  box-shadow: 0.1rem 0.3rem 0.5rem hsla(0, 0%, 0%, 0.3);
  color: $c-violet;
  cursor: pointer;
  font: 400 1.3rem Poppins, sans-serif;
  letter-spacing: -0.05em;
  margin-top: 2.4rem;
  padding: 1.1rem 3.2rem 0.9rem;
  transition: 0.2s;
  width: 66.9%;
  @include smUp {
    border-radius: 2.1rem;
    font-size: 1.5rem;
    width: unset;
  }
  @include mdUp {
    border-radius: 2.8rem;
    font-size: 1.8rem;
    letter-spacing: normal;
    padding: 1.3rem 6.4rem 1.6rem;
  }

  &:focus {
    box-shadow: 0 0 0 0.4rem $c-violet-darker;
    outline: none;
  }

  &:hover {
    box-shadow: 0.2rem 0.4rem 0.6rem hsla(0, 0%, 0%, 0.4);
  }

  &:active {
    background: $c-violet-light;
  }
}

.footer {
  grid-area: footer;
  margin-top: 6.4rem;
  @include lgUp {
    margin-top: 3.2rem;
  }
}

.list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  @include lgUp {
    justify-content: flex-end;
  }
}

.item {
  display: block;

  &:not(:first-child) {
    margin-left: 1rem;
    @include smUp {
      margin-left: 1.6rem;
    }
  }
}

.socialLink {
  align-items: center;
  background: transparent;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0.1rem $c-white;
  display: flex;
  height: 2.8rem;
  justify-content: center;
  transition: 0.2s ease-in-out;
  width: 2.8rem;
  @include smUp {
    height: 4rem;
    width: 4rem;
  }

  &:focus,
  &:hover {
    background: $c-white;
    outline: none;

    .icon {
      color: $c-violet;
    }
  }

  &:active {
    background: $c-violet-light;
  }
}

.icon {
  color: $c-white;
  display: block;
  height: 50%;
  width: 50%;
}
