@import '../../../includes/reset';
@import '../../../includes/defaults';

$color-background: white;
$color-desaturated-red: hsl(0, 36%, 70%);
$color-soft-red: hsl(0, 93%, 68%);
$color-dark-grayish-red: hsl(0, 6%, 24%);
$gradient-bg: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$gradient-btn: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
$gradient-btn-active: linear-gradient(
  135deg,
  hsl(0, 80%, 81%),
  hsl(0, 74%, 69%)
);
$gradient-btn-hover: linear-gradient(
  135deg,
  hsl(0, 84%, 93%),
  hsl(0, 84%, 88%)
);

$feedback-transition-time: 0.3s;

$errorIcon-size-xs: 2rem;
$errorIcon-size-lg: 2.4rem;

$submit-width-xs: 6.4rem;
$submit-width-lg: 10rem;

$email-pl-xs: 2.4rem;
$email-pl-lg: 3.2rem;
$email-pr-xs: $submit-width-xs + 1rem;
$email-pr-lg: $submit-width-lg + 1.6rem;
$email-pr-err-xs: $submit-width-xs + $errorIcon-size-xs + 1rem * 2;
$email-pr-err-lg: $submit-width-lg + $errorIcon-size-lg + 1.6rem * 2;

@mixin smUp {
  @media (min-width: rem(768px)) {
    @content;
  }
}

@mixin mdUp {
  @media (min-width: rem(1024px)) and (orientation: landscape) {
    @content;
  }
}

@mixin lgUp {
  @media (min-width: rem(1200px)) {
    @content;
  }
}

.wrapper {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: Josefin Sans, sans-serif;
  background: $gradient-bg;
  @include mdUp {
    position: relative;
    display: grid;
    // grid-template: auto 1fr / 1fr 0 42.361111%;
    grid-template:
      'header  . heroImage' auto
      'content . heroImage' 1fr
      / 1fr 0 42.361111%;
    background: transparent;
  }
  @include lgUp {
    grid-template-columns: 1fr 3.819444% 42.361111%;
  }
}

.header {
  display: flex;
  padding: 3.1rem 3.2rem 3.2rem;
  @include mdUp {
    grid-area: header;
    width: 44.5rem;
    margin: auto;
    padding: 6.5rem 0;
  }
}

.logo {
  height: 2.1rem;
  @include smUp {
    height: 2.8rem;
  }
  @include lgUp {
    height: 3.3rem;
  }
}

.heroImage {
  width: 100vw;
  height: 66.6667vw;
  background: url(hero-mobile.jpg) center no-repeat;
  background-size: cover;
  @include mdUp {
    grid-area: heroImage;
    width: 100%;
    height: 100%;
    background-image: url(hero-desktop.jpg);
  }
}

.content {
  max-width: 40rem;
  margin: 0 auto;
  padding: 6.4rem 3.2rem 3.2rem;
  color: $color-desaturated-red;
  text-align: center;
  @include smUp {
    max-width: 44.5rem;
  }
  @include mdUp {
    grid-area: content;
    text-align: left;
  }
  @include lgUp {
    padding: 6.5rem 0;
  }
  &_heading {
    margin: 0;
    font-weight: 300;
    font-size: 4rem;
    line-height: 105%;
    letter-spacing: 0.27em;
    text-transform: uppercase;
    @include smUp {
      font-size: 5.6rem;
      line-height: 110%;
    }
    @include lgUp {
      font-size: 6.4rem;
    }
    &-accent {
      color: $color-dark-grayish-red;
      font-weight: 600;
    }
  }
  &_text {
    margin: 1.6rem 0 0;
    font-size: 1.4rem;
    line-height: 160%;
    @include smUp {
      margin-top: 2rem;
      font-size: 1.6rem;
      line-height: 175%;
      letter-spacing: 0.004em;
    }
  }
}

.background {
  @include mdUp {
    z-index: -1;
    grid-area: 1 / 1 / span 2 / span 2;
    background: url(bg-pattern-desktop.svg) no-repeat;
    background-size: 100% 100%;
  }
}

.subscribe {
  position: relative;
  margin-top: 3.2rem;
  @include smUp {
    margin-top: 4rem;
  }
  &_label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
  }
  &_email {
    width: 100%;
    padding: 1.7rem $email-pr-xs 1.6rem $email-pl-xs;
    color: $color-dark-grayish-red;
    font: 1.4rem Josefin Sans, sans-serif;
    background: transparent;
    border: none;
    border-radius: 2.4rem;
    box-shadow: inset 0 0 0 0.1rem $color-desaturated-red;
    transition: $feedback-transition-time;
    @include smUp {
      padding: 2rem $email-pr-lg 2rem $email-pl-lg;
      font-size: 1.6rem;
      border-radius: 2.8rem;
    }
    &::placeholder {
      color: $color-desaturated-red;
    }
    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 0.2rem $color-desaturated-red;
    }
  }
  &_errorIcon {
    position: absolute;
    top: 1.4rem;
    right: $submit-width-xs + 1rem;
    width: 0;
    height: $errorIcon-size-xs;
    background: url(icon-error.svg) left no-repeat;
    background-size: contain;
    opacity: 0;
    transition: all $feedback-transition-time;
    @include smUp {
      top: 1.6rem;
      right: $submit-width-lg + 1.6rem;
      height: $errorIcon-size-lg;
    }
  }
  &_submit {
    position: absolute;
    top: 0;
    right: 0;
    width: $submit-width-xs;
    height: 4.8rem;
    padding: 0;
    background: url(icon-arrow.svg) center no-repeat, $gradient-btn;
    border: none;
    border-radius: 2.4rem;
    box-shadow: 0 1rem 1.4rem hsla(0, 36%, 70%, 0.5);
    @include smUp {
      width: $submit-width-lg;
      height: 5.6rem;
      border-radius: 2.8rem;
    }
    &:hover,
    &:focus {
      background: url(icon-arrow.svg) center no-repeat, $gradient-btn-hover;
      outline: none;
      box-shadow: 0 1.6rem 1.4rem hsla(0, 36%, 70%, 0.5);
    }
    &:active {
      background: url(icon-arrow.svg) center no-repeat, $gradient-btn-active;
      box-shadow: 0 1rem 1.4rem hsla(0, 36%, 70%, 0.5);
    }
  }
  &_feedback {
    padding: 0.8rem $email-pl-xs;
    color: transparent;
    font-size: 1.3rem;
    text-align: left;
    transition: color $feedback-transition-time;
    @include smUp {
      padding: 1.1rem $email-pl-lg;
    }
  }
  &-error {
    .subscribe_email {
      padding-right: $email-pr-err-xs;
      box-shadow: inset 0 0 0 0.1rem $color-soft-red;
      &:focus {
        box-shadow: inset 0 0 0 0.2rem $color-soft-red;
      }
      @include smUp {
        padding-right: $email-pr-err-lg;
      }
    }
    .subscribe_errorIcon {
      width: $errorIcon-size-xs;
      opacity: 1;
      @include smUp {
        width: $errorIcon-size-lg;
      }
    }
    .subscribe_feedback {
      color: $color-soft-red;
    }
  }
  &-success {
    .subscribe_feedback {
      color: hsl(120, 80%, 40%);
    }
  }
}
