extends includes/seo

block content
  .wrapper
    .data-storage
      h1.sr-only Fylo data storage widget
      section.control
        h2.sr-only Storage control
        img(src='images/logo.svg' alt='Fylo logo')
        ul.toolbar
          li: button.icon-btn.new-file(aria-label='Create new file')
          li: button.icon-btn.new-dir(aria-label='Create new directory')
          li: button.icon-btn.upload(aria-label='Upload')
      section.status
        h2.sr-only Storage status
        .bg
        .stats
          label.label(for='meter')
            | You’ve used #{ '' }
            span 815 GB #{ '' }
            | of your storage
          .meter
            meter#meter.sr-only(value='815' min='0' max='1000' title='GB')
            .bar: div
            .limit 0 GB
            .limit 1000 GB
        .badge: div
          span 185
          | GB Left
