extends includes/seo
include includes/social-links

block content
  .wrapper
    .layout
      header.layout__header
        .logo
      .layout__hero.hero-image
      main.layout__content
        h1 Build the community your fans will love
        p.layout__paragraph.
          Huddle re-imagines the way we build communities. You have a voice,
          but so does your audience. Create connections with your users as you
          engage in genuine discussion.
        button.layout__btn.btn Register
      footer.layout__footer
        +social-links
