extends includes/seo
include includes/social-links

block content
  .wrapper
    .container
      header.header
        .logo
      .heroImage
      main.content
        h1.heading.
          Build the community your fans will love
        p.text.
          Huddle re-imagines the way we build communities. You have a voice,
          but so does your audience. Create connections with your users as you
          engage in genuine discussion.
        button.button Register
      footer.footer
        +social-links('list', 'item', 'socialLink', 'icon')
