/* stylelint-disable */

@import 'reset';
@import 'defaults';

$controlShadow: 0 0.6rem 0.4rem hsla(0, 0, 0, 0.05);
$controlActiveShadow: 0 0.6rem 0.8rem hsla(0, 0, 0, 0.25);
$containerSm: 60rem;
$containerLg: 144rem;

@mixin smUp {
  @media (min-width: rem(560px)) {
    @content;
  }
}

@mixin mdUp {
  @media (min-width: rem(1024px)) {
    @content;
  }
}

@mixin lgUp {
  @media (min-width: rem(1200px)) {
    @content;
  }
}

$c-VeryDarkBlue: hsl(243, 87%, 12%);
$c-DesaturatedBlue: hsl(238, 22%, 44%);
$c-BrightBlue: hsl(224, 93%, 58%);
$c-ModerateCyan: hsl(170, 45%, 43%);
$c-LightGrayishBlue: hsl(240, 75%, 98%);
$c-LightGray: hsl(0, 0%, 75%);
$c-light: hsl(0, 0%, 100%);

// #region Components

.logo {
  background: url(logo.svg) left center no-repeat;
  background-size: contain;
  height: 2.4rem;
  width: 8rem;
  @include smUp {
    height: 3rem;
    width: 10rem;
  }
  @include mdUp {
    height: 4.9rem;
    width: 16.6rem;
  }
}

.nav {
  &_list {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2.4rem;
    list-style: none;
    margin: 0;
    padding: 0;
    @include smUp {
      grid-gap: 4rem;
    }
    @include mdUp {
      grid-gap: 5.6rem;
    }
  }

  &_link {
    color: $c-VeryDarkBlue;
    font: 1.2rem Raleway, sans-serif;
    font-kerning: none;
    text-decoration: none;
    @include smUp {
      font-size: 1.4rem;
    }
    @include mdUp {
      font-size: 1.6rem;
    }

    &:focus {
      outline: 0.2rem solid $c-ModerateCyan;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.illustration {
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 75.46%;
  width: 100%;
}

.heading {
  color: $c-VeryDarkBlue;
  font: 700 2.4rem/150% Raleway, sans-serif;
  font-kerning: none;
  margin: 0;
  @include smUp {
    font-size: 3rem;
  }
  @include lgUp {
    font-size: 4rem;
  }
}

.text {
  color: $c-VeryDarkBlue;
  font: 1.4rem/150% Open Sans, sans-serif;
  margin: 0;
  @include smUp {
    font-size: 1.6rem;
  }
  @include lgUp {
    font-size: 1.8rem;
    line-height: normal;
  }
}

.link {
  color: inherit;
  font: 1.6rem Open Sans, sans-serif;
  text-decoration: none;

  &:focus {
    outline: 0.1rem solid $c-ModerateCyan;
  }

  &:hover {
    text-decoration: underline;
  }
}

.emailField {
  display: block;

  &_input {
    background: $c-light;
    border: 0.1rem solid $c-DesaturatedBlue;
    border-radius: 0.3rem;
    box-shadow: $controlShadow;
    font: 1.2rem/140% Open Sans, sans-serif;
    padding: 1.1rem 2.1rem;
    transition: 0.2s;
    width: 100%;
    @include smUp {
      font-size: 1.4rem;
      line-height: 130%;
    }
    @include mdUp {
      letter-spacing: 0.03em;
      line-height: 140%;
      padding: 1.3rem 2rem 1.1rem;
    }

    &::placeholder {
      color: $c-LightGray;
    }

    &:focus {
      border-color: $c-BrightBlue;
      box-shadow: $controlActiveShadow;
      outline: none;
    }
  }
}

.button {
  background: $c-BrightBlue;
  border: none;
  border-radius: 0.3rem;
  box-shadow: $controlShadow;
  color: $c-light;
  font: 700 1.4rem Raleway, sans-serif;
  padding: 1.2rem 3.2rem;
  transition: 0.2s;
  @include smUp {
    padding-bottom: 1.3rem;
    padding-top: 1.3rem;
  }
  @include smUp {
    padding-bottom: 1.4rem;
    padding-top: 1.5rem;
  }

  &:focus,
  &:hover {
    box-shadow: $controlActiveShadow;
    filter: brightness(1.2);
    outline: none;
  }

  &:active {
    filter: brightness(0.8);
  }
}

.signupForm {
  display: grid;
  grid-gap: 1.6rem;
  @include mdUp {
    grid-template-columns: 2fr 1fr;
  }
  @include lgUp {
    grid-template-columns: 32rem 20rem;
  }
}

.standoutLink {
  display: inline-block;
  text-decoration: none;

  &:hover > .standoutLink_underline {
    transform: scaleY(2);
  }

  &_label {
    color: $c-ModerateCyan;
    font: 1.2rem Open Sans, sans-serif;
    @include smUp {
      font-size: 1.4rem;
    }
    @include mdUp {
      font-size: 1.6rem;
    }

    &::after {
      background: url(icon-arrow.svg) center no-repeat;
      background-size: contain;
      content: '';
      display: inline-block;
      height: 1.6rem;
      margin-left: 0.6rem;
      vertical-align: middle;
      width: 1.6rem;
    }
  }

  &_underline {
    background: $c-ModerateCyan;
    content: '';
    display: block;
    height: 0.1rem;
    margin-top: 0.4rem;
    transition: 0.2s;
    width: 100%;
  }
}

.testimonials {
  background: $c-light;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 1rem hsla(0, 0, 0, 0.05);
  color: $c-VeryDarkBlue;
  max-width: 28rem;
  padding: 2rem 1.2rem 2.1rem 2.6rem;
  @include smUp {
    max-width: 33rem;
  }
  @include mdUp {
    max-width: 35.6rem;
    padding: 2.4rem 3.2rem 2.7rem;
  }

  &_quote {
    font: 1rem/185% Open Sans, sans-serif;
    letter-spacing: 0.04em;
    margin: 0;
    @include smUp {
      font-size: 1.2rem;
    }
    @include mdUp {
      font-size: 1.4rem;
      letter-spacing: normal;
      line-height: 170%;
    }

    &::before {
      background: url(icon-quotes.svg) center no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 1.2rem;
      margin-bottom: 0.8rem;
      width: 1.3rem;
      @include mdUp {
        height: 1.6rem;
        margin-bottom: 0.9rem;
        width: 1.6rem;
      }
    }
  }

  &_author {
    margin: 1.2rem 0 0;
    @include mdUp {
      margin-top: 1.6rem;
    }
  }
}

.person {
  display: grid;
  grid-gap: 0.2rem 0.8rem;
  grid-template:
    'person_avatar person_name' auto
    'person_avatar person_position' auto
    / auto 1fr;

  &_avatar {
    border-radius: 50%;
    grid-area: person_avatar;
    height: 2.4rem;
    width: 2.4rem;
    @include smUp {
      height: 3.2rem;
      width: 3.2rem;
    }
  }

  &_name {
    align-self: end;
    font: 700 1rem Open Sans, sans-serif;
    grid-area: person_name;
    margin: 0;
    @include mdUp {
      font-size: 1.1rem;
      letter-spacing: 0.05em;
    }
  }

  &_position {
    align-self: start;
    font: 0.6rem Open Sans, sans-serif;
    grid-area: person_position;
    letter-spacing: 0.05em;
    margin: 0;
    @include mdUp {
      font-size: 0.8rem;
      letter-spacing: 0.05em;
    }
  }
}

.contacts {
  display: grid;
  grid-gap: 1.6rem;
  padding-left: 4rem;

  [href^='tel']::before {
    background: url(icon-phone.svg) left center no-repeat;
    background-size: contain;
  }

  [href^='mailto']::before {
    background: url(icon-email.svg) left center no-repeat;
    background-size: contain;
  }

  &_text {
    position: relative;

    &::before {
      content: '';
      display: block;
      height: 1.8rem;
      left: -3.8rem;
      position: absolute;
      top: 0.3rem;
      width: 2rem;
    }
  }
}

.sitemap {
  &_list {
    display: grid;
    grid-gap: 1.6rem;
    list-style: none;
    margin: 0;
    padding: 0;
    @include smUp {
      grid-auto-flow: column;
      grid-gap: 1.6rem 4rem;
      grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    }
    @include lgUp {
      grid-gap: 1.6rem 14.6rem;
    }

    .sitemap_item:nth-child(5) {
      margin-top: 3.2rem;
      @include smUp {
        margin: 0;
      }
    }
  }
}

.social {
  display: grid;
  font-size: 1rem;
  grid-gap: 1.2em;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  &_item {
    display: block;
  }

  &_link {
    align-items: center;
    background: transparent;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.1em $c-light;
    color: $c-light;
    display: flex;
    height: 2.8em;
    justify-content: center;
    transition: 0.2s;
    width: 2.8em;
    @include mdUp {
      height: 3.2em;
      width: 3.2em;
    }

    &:focus,
    &:hover {
      background: $c-light;
      color: $c-VeryDarkBlue;
      outline: none;
    }
  }
}

.icon {
  height: 50%;
  width: 50%;
}

.srOnly {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// #endregion Components

// #region Layout

.header {
  background: $c-light;

  &_container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2.4rem;
    @include mdUp {
      margin: 0 auto;
      max-width: $containerLg;
      padding: 4rem;
    }
    @include lgUp {
      padding: 6.4rem 8rem;
    }
  }
}

.intro {
  background: $c-light;

  &_container {
    display: grid;
    grid-gap: 3.6rem;
    margin: 0 auto;
    max-width: $containerSm;
    padding: 7.4rem 2.4rem 9rem;
    @include mdUp {
      align-items: center;
      grid-gap: 2.4rem;
      grid-template-columns: repeat(2, 1fr);
      max-width: $containerLg;
      padding: 8rem 4rem 12rem;
    }
    @include lgUp {
      grid-gap: 0;
      padding: 2.4rem 8rem 15.4rem;
    }
  }

  &_image {
    padding: 0 1.2rem;
    @include mdUp {
      padding: 0;
    }

    > .illustration {
      background-image: url(illustration-1.svg);
    }
  }

  &_content {
    padding: 0 0.8rem;
    text-align: center;
    @include mdUp {
      order: -1;
      padding: 0;
      text-align: left;
    }
    @include lgUp {
      margin-bottom: 5.4rem;
      padding-right: 4rem;
    }
  }

  &_text {
    margin-top: 2.4rem;
    @include smUp {
      padding: 0 6.4rem;
    }
    @include mdUp {
      margin-top: 1.5rem;
      padding: 0;
    }
  }

  &_signup {
    margin-top: 3.2rem;
    @include smUp {
      margin-top: 2.5rem;
      padding: 0 8rem;
    }
    @include mdUp {
      padding: 0;
    }
  }
}

.curvedTop {
  background: $c-LightGrayishBlue;
  height: 5.3rem;
  mask: url(bg-curve-mobile.svg) no-repeat center / 100% 100%;
  position: relative;
  width: 100%;
  @include mdUp {
    height: 11.4rem;
    mask-image: url(bg-curve-desktop.svg);
  }
}

.benefits {
  background: $c-LightGrayishBlue;

  &_container {
    display: grid;
    grid-gap: 8.8rem;
    margin: 0 auto;
    max-width: $containerSm;
    padding: 4rem 2.4rem 8.2rem;
    position: relative;
    @include mdUp {
      grid-gap: 4rem;
      grid-template-columns: 1fr 42.34%;
      max-width: $containerLg;
      padding: 4rem 4rem 9rem;
    }
    @include lgUp {
      grid-gap: 8rem;
      padding: 6.4rem 8rem 10.5rem;
    }
  }

  &_image {
    padding: 0 0.4rem;
    @include mdUp {
      padding: 2.4rem 0 0;
    }

    > .illustration {
      background-image: url(illustration-2.svg);
    }
  }

  &_content {
    @include mdUp {
      order: -1;
    }
  }

  &_heading {
    font-size: 1.6rem;
    text-align: center;
    @include smUp {
      font-size: 2.4rem;
    }
    @include mdUp {
      font-size: 3rem;
      line-height: normal;
      text-align: left;
    }
    @include lgUp {
      font-size: 4rem;
    }
  }

  &_text {
    @include smUp {
      font-size: 1.6rem;
      line-height: 150%;
      max-width: 52rem;
    }
  }

  &_text:nth-child(2) {
    margin-top: 2.4rem;
    @include mdUp {
      margin-top: 3.7rem;
    }
  }

  &_text:nth-child(3) {
    margin-top: 1.6rem;
  }

  &_link {
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
    @include mdUp {
      justify-content: flex-start;
      margin-top: 1.6rem;
    }
  }

  &_card {
    margin: 4rem auto 0;
    @include mdUp {
      margin: 4.5rem 0 0;
    }
  }
}

.promo {
  background: $c-DesaturatedBlue;

  &_container {
    padding: 5.3rem 4.4rem 7.1rem;
    @include mdUp {
      align-items: center;
      display: grid;
      grid-gap: 8rem;
      grid-template-columns: repeat(2, 1fr);
      margin: 0 auto;
      max-width: $containerLg;
      text-align: left;
    }
    @include lgUp {
      grid-gap: 16rem;
      padding: 10.2rem 8rem 8.6rem;
    }
  }

  &_content {
    text-align: center;
    @include smUp {
      margin: 0 auto;
      max-width: 40rem;
    }
    @include mdUp {
      margin: 0;
      max-width: unset;
      padding-right: 2rem;
      text-align: left;
    }
  }

  &_heading {
    color: $c-light;
    font-size: 1.8rem;
    @include smUp {
      font-size: 2.4rem;
    }
    @include mdUp {
      font-size: 3.2rem;
    }
  }

  &_text {
    color: $c-light;
    margin-top: 1.5rem;
    @include mdUp {
      font-size: 1.6rem;
      letter-spacing: 0.03em;
      line-height: 150%;
    }
  }

  &_signup {
    grid-gap: 0.8rem;
    margin: 2.4rem auto 0;
    width: 24rem;
    @include mdUp {
      align-content: center;
      grid-gap: 1.6rem;
      grid-template: repeat(2, 1fr) / auto;
      margin: 0;
      padding: 0 4rem;
      width: 100%;
    }

    .emailField_input {
      border-color: $c-light;
      font-size: 1rem;
      padding: 0.8rem 0.7rem;
      @include smUp {
        font-size: 1.2rem;
      }
      @include mdUp {
        letter-spacing: normal;
        padding: 1.5rem 2.1rem;
      }

      &:focus {
        border-color: $c-VeryDarkBlue;
      }
    }

    .button {
      font-size: 1rem;
      line-height: 120%;
      padding-bottom: 1rem;
      padding-top: 1rem;
      @include smUp {
        font-size: 1.2rem;
      }
      @include mdUp {
        font-size: 1.4rem;
        padding: 1.6rem 3.2rem;
        width: 20rem;
      }
    }
  }
}

.footer {
  background: $c-VeryDarkBlue;
  color: $c-light;

  &_container {
    display: grid;
    grid-template:
      'footer_logo' auto
      '.' 4rem
      'footer_contacts' auto
      '.' 5.8rem
      'footer_sitemap' auto
      '.' 5.1rem
      'footer_social' auto;
    padding: 6.5rem 4rem 4.7rem;
    @include smUp {
      grid-gap: 6rem 4rem;
      grid-template:
        'footer_logo footer_contacts' auto
        'footer_sitemap footer_sitemap' auto
        'footer_social footer_social' auto
        / 1fr 1fr;
      margin: 0 auto;
      max-width: $containerSm;
    }
    @include mdUp {
      align-items: start;
      grid-gap: 6rem 4rem;
      grid-template:
        'footer_logo footer_logo' auto
        'footer_contacts footer_sitemap' auto
        'footer_social footer_social' auto
        / 3fr 4fr;
      max-width: $containerLg;
    }
    @include lgUp {
      align-items: start;
      grid-gap: 2.4rem 11.09%;
      grid-template:
        'footer_logo footer_logo footer_logo' auto
        'footer_contacts footer_sitemap footer_social' auto
        / 23.59% 30.625% 23.59%;
      max-width: $containerLg;
      padding: 10.8rem 8rem 7.2rem;
    }
  }

  &_logo {
    background: $c-light;
    grid-area: footer_logo;
    height: 5.2rem;
    mask: url(logo.svg) no-repeat center / contain;
    width: 17.6rem;
  }

  &_contacts {
    grid-area: footer_contacts;
  }

  &_sitemap {
    grid-area: footer_sitemap;
  }

  &_social {
    grid-area: footer_social;
    @include lgUp {
      justify-self: start;
    }
  }
}

// #endregion Layout
