@use 'sass:math';
@import 'reset';

// #region Abstracts

$breakpoint-sm: 690;

$color-primary-blue: hsl(223, 87%, 63%);
$color-secondary-pale-blue: hsl(223, 100%, 88%);
$color-secondary-light-red: hsl(354, 100%, 66%);
$color-neutral-gray: hsl(0, 0%, 59%);
$color-neutral-very-dark-blue: hsl(209, 33%, 12%);
$color-secondary-green: hsl(145, 64%, 49%);
$color-light: #fff;

$button-shadow: 0 0.6rem 1rem rgba($color-primary-blue, 0.4);

@function em($value) {
  @if type-of($value) == 'number' {
    @return math.div($value, 16) * 1em;
  } @else {
    @error 'The parameter should be of type number';
  }
}

@mixin sm-up {
  @media (min-width: em($breakpoint-sm)) {
    @content;
  }
}

// #endregion Abstracts

// #region Utilities

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text-gray {
  color: $color-neutral-gray;
}

.text-secondary {
  font-size: 1rem;
  line-height: 120%;
  @include sm-up {
    font-size: 1.2rem;
    line-height: 125%;
  }
}

// #endregion Utilities

// #region Base

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: $color-neutral-very-dark-blue;
  font-size: 1.6rem;
}

h1,
p,
input,
button {
  font-family: Libre Franklin, sans-serif;
}

h1 {
  font-size: 2.2rem;
  letter-spacing: 0.005em;
  line-height: 125%;
  @include sm-up {
    font-size: 4.8rem;
  }

  > span {
    color: $color-neutral-very-dark-blue;
    font-weight: 700;
  }
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: normal;
  @include sm-up {
    font-size: 2rem;
    line-height: 120%;
  }
}

// #endregion Base

// #region Classes

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  padding: 8.4rem 2.4rem 3.6rem;
  @include sm-up {
    max-width: 69rem;
  }
}

.header {
  display: flex;
  justify-content: center;

  &__logo {
    background: center / contain no-repeat url('images/logo.svg');
    height: 1.6rem;
    width: 5.2rem;
    @include sm-up {
      height: 2.6rem;
      width: 8.45rem;
    }
  }
}

.content {
  &__heading {
    margin-top: 4rem;
    text-align: center;
    @include sm-up {
      margin-top: 5rem;
    }
  }

  &__paragraph {
    margin-top: 1.7rem;
    text-align: center;
    @include sm-up {
      margin-top: 1.6rem;
    }
  }

  &__form {
    margin-top: 3.2rem;
    min-height: 12.2rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    @include sm-up {
      margin-top: 4rem;
      min-height: 9.4rem;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.subscribe-form {
  @include sm-up {
    align-items: flex-start;
    display: flex;
    width: 100%;
  }

  :first-child {
    @include sm-up {
      flex: 1;
    }
  }

  &__feedback {
    box-sizing: content-box;
    font-size: 1rem;
    font-style: italic;
    height: 0;
    letter-spacing: 0.015em;
    line-height: 120%;
    opacity: 0;
    overflow: hidden;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    text-align: center;
    transition: height 0.2s ease-in-out, padding 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
    @include sm-up {
      font-size: 1.2rem;
      text-align: left;
    }
  }

  &__submit {
    margin-top: 1rem;
    width: 100%;
    @include sm-up {
      margin-left: 1.6rem;
      margin-top: 0;
      width: unset;
    }
  }

  &--error,
  &--success {
    .subscribe-form__feedback {
      height: 2.4rem;
      opacity: 1;
      padding-bottom: 0.2rem;
      padding-top: 0.6rem;
      /* stylelint-disable-next-line max-nesting-depth */
      @include sm-up {
        padding-top: 0.8rem;
      }
    }
  }

  &--error {
    .email-field__input {
      border-color: $color-secondary-light-red;
    }

    .subscribe-form__feedback {
      color: $color-secondary-light-red;
    }
  }

  &--success {
    .email-field__input {
      border-color: $color-secondary-green;
    }

    .subscribe-form__feedback {
      color: $color-secondary-green;
    }
  }
}

.email-field {
  display: block;

  &__input {
    background: $color-light;
    border: 0.1rem solid $color-secondary-pale-blue;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
    height: 4rem;
    padding: 0 3.2rem;
    transition: border-color 0.2s;
    width: 100%;
    @include sm-up {
      border-radius: 2.8rem;
      font-size: 1.6rem;
      height: 5.6rem;
    }

    &::placeholder {
      color: $color-secondary-pale-blue;
    }

    &:focus {
      box-shadow: 0 0 0 0.3rem $color-secondary-pale-blue;
      outline: none;
    }
  }
}

.button {
  background: $color-primary-blue;
  border: 0;
  border-radius: 2rem;
  box-shadow: $button-shadow;
  color: $color-light;
  font-size: 1.2rem;
  font-weight: 600;
  height: 4rem;
  padding: 0 3.2rem;
  transition: 0.2s;
  @include sm-up {
    border-radius: 2.8rem;
    font-size: 1.6rem;
    height: 5.6rem;
    padding: 0 6.25rem;
  }

  &:focus {
    box-shadow: $button-shadow, 0 0 0 0.3rem $color-secondary-pale-blue;
    outline: none;
  }

  &:hover {
    background: lighten($color-primary-blue, 7%);
  }

  &:active {
    background: darken($color-primary-blue, 7%);
  }
}

.background {
  background: center / contain no-repeat url('images/illustration-dashboard.png');
  height: 19.6rem;
  margin-top: 3.6rem;
  @include sm-up {
    height: 39rem;
    margin-top: 4.7rem;
  }
}

.footer {
  margin-top: 12rem;
  @include sm-up {
    margin-top: 7.2rem;
  }

  &__copyright {
    margin-top: 2.7rem;
    text-align: center;
    @include sm-up {
      margin-top: 2.5rem;
    }
  }
}

.socialLinks {
  display: flex;
  justify-content: center;

  &__item {
    display: block;

    &:not(:first-child) {
      margin-left: 1.2rem;
    }
  }

  &__link {
    align-items: center;
    border: 0.1rem solid $color-secondary-pale-blue;
    border-radius: 50%;
    color: $color-primary-blue;
    display: flex;
    height: 3.2rem;
    justify-content: center;
    transition: 0.2s;
    width: 3.2rem;

    &:focus {
      border: 0.1rem solid $color-primary-blue;
      outline: none;
    }

    &:hover {
      background: $color-primary-blue;
      border-color: $color-primary-blue;
      color: $color-light;
    }

    &:active {
      background: darken($color-primary-blue, 7%);
      border-color: darken($color-primary-blue, 7%);
    }
  }
}

.icon {
  display: block;
  height: 1.6rem;
  width: 1.6rem;
}

// #endregion Classes
