@import '../../../includes/reset';
@import '../../../includes/defaults';

$illustrations: 'illustration-grow-together.svg',
  'illustration-flowing-conversation.svg', 'illustration-your-users.svg';
$contactsIcons: 'icon-location.svg', 'icon-phone.svg', 'icon-email.svg';

@mixin xsOnly {
  @media (max-width: rem(767px)) {
    @content;
  }
}

@mixin smUp {
  @media (min-width: rem(768px)) {
    @content;
  }
}

@mixin mdUp {
  @media (min-width: rem(1024px)) {
    @content;
  }
}

@mixin lgUp {
  @media (min-width: rem(1200px)) {
    @content;
  }
}

$c-pink: hsl(322, 100%, 66%);
$c-veryPaleCyan: hsl(193, 100%, 96%);
$c-veryDarkCyan: hsl(192, 100%, 9%);
$c-grayishBlue: hsl(208, 11%, 55%);
$c-light: white;

// #region Components

.heading {
  margin: 0;
  font: 600 2rem/150% Poppins, sans-serif;
  text-transform: capitalize;
  @include smUp {
    font-size: 2.4rem;
  }
  @include lgUp {
    font-size: 2.8rem;
  }
  &-lg {
    font-size: 2.4rem;
    @include smUp {
      font-size: 3.2rem;
    }
    @include lgUp {
      font-size: 4rem;
    }
  }
}

.text {
  margin: 0;
  font: 400 1.6rem/150% Open Sans, sans-serif;
  @include lgUp {
    font-size: 1.8rem;
  }
  &-link {
    color: inherit;
    text-decoration: none;
    &:focus {
      outline: 0.1rem solid $c-pink;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.colorLight {
  color: $c-veryPaleCyan;
}

.colorDark {
  color: $c-veryDarkCyan;
}

.colorGray {
  color: $c-grayishBlue;
}

.logo {
  width: 10.4rem;
  height: 1.6rem;
  background: url(logo.svg) left center no-repeat;
  background-size: 100% 100%;
  @include smUp {
    width: 15.2rem;
    height: 2.4rem;
  }
  @include lgUp {
    width: 20rem;
    height: 3.2rem;
  }
  &-light {
    background: $c-light;
    -webkit-mask: url(logo.svg) no-repeat center / contain;
  }
  &-lg {
    width: 16.8rem;
    height: 2.7rem;
    @include lgUp {
      width: 24rem;
      height: 4rem;
    }
  }
}

.button {
  padding: 0.3em 2.1em 0.5em;
  color: $c-veryDarkCyan;
  font-size: 1rem;
  text-transform: capitalize;
  background: $c-light;
  border: 0.1em solid $c-light;
  border-radius: 1.1em;
  box-shadow: 0 0.4em 0.6em hsla(0, 0%, 0%, 0.1);
  cursor: pointer;
  transition: 0.2s;
  @include smUp {
    padding: 0.9em 3.1em 1.3em;
    border-radius: 2em;
  }
  @include lgUp {
    padding: 1.2em 6.3em 1.5em;
    border-radius: 2.4em;
  }
  &:focus {
    border: 0.1em solid $c-veryDarkCyan;
    outline: none;
  }
  &:hover {
    box-shadow: 0 0.5em 0.8em hsla(0, 0%, 0%, 0.3);
  }
  &:active {
    transform: scale(0.98);
    filter: brightness(0.9);
  }
  &_label {
    font: 700 1em/140% Open Sans, sans-serif;
    @include smUp {
      font-size: 1.2em;
    }
    @include lgUp {
      font-size: 1.4em;
    }
  }
  &-accent {
    padding: 0.9em 3.1em 1.3em;
    color: $c-light;
    background: $c-pink;
    border: 0.1em solid $c-pink;
    border-radius: 2em;
    @include lgUp {
      padding: 1.6em 3.1em 1.9em;
      border-radius: 2.8em;
    }
    > .button_label {
      font-size: 1.2em;
      @include lgUp {
        font-size: 1.4em;
      }
    }
  }
}

.illustration {
  width: 100%;
  padding-bottom: 81.3%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  @include lgUp {
    padding-bottom: 80.5%;
  }
}

.paper {
  background: $c-light;
  border-radius: 1.4rem;
  box-shadow: 0 0 1.4rem hsla(0, 0%, 0%, 0.1);
}

.feature {
  display: grid;
  grid-gap: 3.2rem;
  align-content: start;
  padding: 3.2rem 4rem;
  text-align: center;
  @include smUp {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
  }
  @include lgUp {
    grid-gap: 16.6rem;
    grid-template-columns: auto auto;
    padding: 5.2rem 2.6rem 5.2rem 12rem;
  }
  &_image {
    padding: 2.4rem 0.8rem;
    @include smUp {
      padding: 2.4rem 0;
    }
    @include lgUp {
      width: 41.8rem;
      padding: 0;
    }
  }
  &_content {
    display: grid;
    grid-gap: 1.4rem;
    @include lgUp {
      grid-gap: 1.2rem;
    }
  }
  &_text {
    @include xsOnly {
      font-size: 1.4rem;
    }
  }
}

.contacts {
  padding-left: 4rem;
  &_list {
    display: grid;
    grid-gap: 2.4rem;
    margin: 0;
    padding: 0;
    list-style: none;
    @for $i from 1 through length($contactsIcons) {
      :nth-child(#{$i})::before {
        background: url(#{nth($contactsIcons $i)}) left center no-repeat;
        background-size: contain;
      }
    }
  }
  &_item {
    position: relative;
    padding-right: 0.1rem;
    &::before {
      position: absolute;
      top: 0.3rem;
      left: -3.8rem;
      display: block;
      width: 2rem;
      height: 2rem;
      content: '';
    }
  }
}

.nav {
  justify-self: stretch;
  &_list {
    display: grid;
    grid-gap: 1.6rem;
    align-items: start;
    margin: 0;
    padding: 0;
    list-style: none;
    @include lgUp {
      grid-auto-flow: column;
      grid-row-gap: 1.6rem;
      grid-column-gap: 28.57%;
      grid-template: repeat(3, auto) / repeat(2, 1fr);
    }
  }
  &_link {
    font-size: 1.8rem;
  }
}

.social {
  display: grid;
  grid-gap: 1.2em;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  list-style: none;
  &_item {
    display: block;
  }
  &_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2em;
    height: 3.2em;
    color: $c-light;
    background: transparent;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.1em $c-light;
    transition: 0.2s;
    &:focus,
    &:hover {
      color: $c-veryDarkCyan;
      background: $c-light;
      outline: none;
    }
  }
}

.icon {
  width: 50%;
  height: 50%;
}

.copyright {
  margin: 0;
  font: 600 1.2rem/140% Poppins, sans-serif;
  letter-spacing: -0.01em;
  text-align: center;
}

// #endregion Components

// #region Layout

.content {
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 2.4rem 1.6rem 0;
  @include smUp {
    padding: 3.2rem 3.2rem 0;
  }
  @include lgUp {
    padding: 4.8rem 8rem 0;
  }
  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include lgUp {
      max-width: 128rem;
      margin: 0 auto;
    }
  }
}

.hero {
  position: relative;
  padding: 13rem 3.6rem 3.3rem;
  background: url(bg-hero-mobile.svg) top center no-repeat, $c-veryPaleCyan;
  background-size: 100%;
  @include smUp {
    padding-bottom: 5rem;
  }
  @include mdUp {
    padding: 16rem 8rem 6.6rem;
    background-image: url(bg-hero-desktop.svg);
  }
  &_container {
    display: grid;
    grid-gap: 5.2rem;
    @include smUp {
      max-width: 54rem;
      margin: 0 auto;
    }
    @include mdUp {
      grid-gap: 3.2rem;
      grid-template-columns: 1fr 1fr;
      max-width: unset;
    }
    @include lgUp {
      grid-gap: 6.4rem;
      grid-template-columns: 65fr 87fr;
      align-items: center;
      max-width: 128rem;
    }
  }
  &_content {
    text-align: center;
    @include smUp {
      padding: 0 7.8rem;
    }
    @include mdUp {
      padding: 0;
      text-align: left;
    }
    @include lgUp {
      margin-top: 1.4rem;
    }
    :nth-child(2) {
      margin-top: 2.2rem;
    }
    :nth-child(3) {
      margin-top: 3.2rem;
    }
    @include lgUp {
      :not(:first-child) {
        margin-top: 3rem;
      }
    }
  }
  &_button {
    width: 24rem;
    @include lgUp {
      width: 28rem;
    }
  }
  &_image {
    padding-bottom: 71.3%;
    background-image: url(illustration-mockups.svg);
  }
}

.features {
  padding: 6rem 2rem 23rem;
  background: $c-light;
  @include smUp {
    padding-top: 10rem;
  }
  @include mdUp {
    padding: 16rem 10.4rem 34.3rem;
  }
  &_container {
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 4rem;
    margin: 0;
    padding: 0;
    list-style: none;
    @include smUp {
      max-width: 123.2rem;
      margin: 0 auto;
      :nth-child(odd) .feature_image {
        order: 1;
      }
    }
    @for $i from 1 through length($illustrations) {
      :nth-child(#{$i}) .illustration {
        background-image: url(#{nth($illustrations $i)});
      }
    }
  }
}

.cta {
  position: absolute;
  bottom: -6.7rem;
  left: 50%;
  width: 35.1rem;
  padding: 4.4rem 1.6rem 4rem;
  text-align: center;
  transform: translateX(-50%);
  @include smUp {
    width: 48rem;
    padding: 5rem 3rem;
  }
  @include lgUp {
    bottom: -9.5rem;
    width: 80rem;
    padding: 6.4rem 10rem 5.2rem;
  }
  &_heading {
    font-size: 1.8rem;
    @include smUp {
      font-size: 2.4rem;
    }
    @include lgUp {
      font-size: 3.2rem;
    }
  }
  &_button {
    width: 20rem;
    margin-top: 2.4rem;
    @include xsOnly {
      > .button_label {
        font-size: 1em;
        line-height: 160%;
      }
    }
    @include smUp {
      width: 24rem;
      margin-top: 3rem;
    }
    @include lgUp {
      width: 40rem;
      margin-top: 3.6rem;
      font-size: 1.4rem;
    }
  }
}

.footer {
  padding: 13.8rem 1.6rem 4.6rem;
  background: $c-veryDarkCyan;
  @include smUp {
    padding-right: 8rem;
    padding-left: 8rem;
  }
  @include mdUp {
    padding: 19rem 8rem 6.4rem 12rem;
  }
  &_container {
    @include smUp {
      display: grid;
      grid-row-gap: 2.4rem;
      grid-column-gap: 8rem;
      grid-template:
        'footer_logo      footer_logo' auto
        'footer_contacts  footer_nav' auto
        'footer_social    footer_social' auto
        'footer_copyright footer_copyright' auto
        / 2fr 1fr;
    }
    @include mdUp {
      grid-template:
        'footer_logo      footer_logo      footer_logo' auto
        'footer_contacts  footer_nav       footer_social' auto
        'footer_copyright footer_copyright footer_copyright' auto
        / 2fr 1fr 1fr;
    }
    @include lgUp {
      grid-row-gap: 4rem;
      grid-column-gap: 9.68%;
      grid-template:
        'footer_logo      footer_logo      footer_logo' auto
        'footer_contacts  footer_nav       footer_social' auto
        'footer_copyright footer_copyright footer_copyright' auto
        / 39fr 35fr 26fr;
      justify-items: start;
      max-width: 124rem;
      margin: 0 auto;
    }
  }
  &_logo {
    grid-area: footer_logo;
  }
  &_contacts {
    grid-area: footer_contacts;
    @include xsOnly {
      margin-top: 2.4rem;
    }
    @include lgUp {
      font-size: 1.6rem;
    }
  }
  &_nav {
    grid-area: footer_nav;
    @include xsOnly {
      margin-top: 5.6rem;
    }
  }
  &_social {
    grid-area: footer_social;
    @include xsOnly {
      margin-top: 5.3rem;
    }
  }
  &_copyright {
    grid-area: footer_copyright;
    @include xsOnly {
      margin-top: 2.4rem;
    }
    @include mdUp {
      justify-self: end;
    }
  }
}

// #endregion Layout
