extends ../../../includes/layout

block variables
  - const title = "Pricing component with toggle";

block fonts
  +googleFonts([ 'family=Montserrat:wght@700&display=swap&text=Our%20PicngAalyMothBs%2419.50GSe2Uwdp3Lf4T', ])

block content
  | Hello world!

//-
  Our Pricing
  Annually
  Monthly
  Basic
  $19.99
  $199.99
  500 GB Storage
  2 Users Allowed
  Send up to 3 GB
  Learn More
  Professional
  $24.99
  $249.99
  1 TB Storage
  5 Users Allowed
  Send up to 10 GB
  Learn More
  Master
  $39.99
  $399.99
  2 TB Storage
  10 Users Allowed
  Send up to 20 GB
  Learn More
