@use '../colors' as c;
@use '../breakpoints' as brp;

$logo-size-xs: 4.8rem;
$padding-xs: 2.4rem;

.job {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 2rem -0.5rem c.$shadow;
  margin-top: $logo-size-xs / 2;
  padding: $padding-xs;

  @include brp.sm-up {
    align-items: center;
    display: flex;
    margin-top: 0;
    padding: 3.2rem 4rem;
  }

  &Highlighted {
    background-image: linear-gradient(to right,
    c.$primary 0.5rem,
    transparent 0.5rem,);
  }
}

.logo {
  height: $logo-size-xs;
  margin-top: -$logo-size-xs / 2 - $padding-xs;
  width: $logo-size-xs;

  @include brp.sm-up {
    flex-shrink: 0;
    height: 8.8rem;
    margin-top: 0;
    width: 8.8rem;
  }
}

.body {
  margin-top: 0.8rem;

  @include brp.sm-up {
    flex: 0 1 31rem;
    margin-left: 2.4rem;
    margin-right: 1.6rem;
    margin-top: 0;
  }
}

.heading {
  align-items: center;
  color: c.$primary;
  display: flex;
  flex-flow: wrap;
  font: 700 1.3rem/190% Spartan, sans-serif;
  margin: -0.2rem -0.4rem;

  @include brp.sm-up {
    font-size: 1.4rem;
    line-height: 175%;
  }

  > :first-child {
    margin: 0.2rem 1.2rem 0.2rem 0.4rem;
  }

  > :not(:first-child) {
    margin: 0.2rem 0.4rem;
  }
}

.position {
  color: c.$text;
  display: block;
  font: 700 1.5rem/160% Spartan, sans-serif;
  margin-top: 0.8rem;
  text-decoration: none;

  @include brp.sm-up {
    font-size: 1.8rem;
    line-height: 135%;
  }

  &:hover {
    color: c.$primary;
  }
}

.details {
  color: c.$text-secondary;
  font: 500 1.3rem/185% Spartan, sans-serif;
  letter-spacing: -0.0077em;
  margin-top: 0.8rem;

  @include brp.sm-up {
    font-size: 1.5rem;
    line-height: 160%;
  }

  > :not(:first-child)::before {
    background-color: c.$text-secondary;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 0.4rem;
    margin: 0 0.8rem;
    vertical-align: middle;
    width: 0.4rem;

    @include brp.sm-up {
      margin: 0 1.6rem;
    }
  }
}

.hr {
  background-color: c.$text-secondary;
  border: 0;
  height: 0.1rem;
  margin: 1.6rem 0;
  width: 100%;

  @include brp.sm-up {
    display: none;
  }
}

.tagList {
  display: flex;
  flex-flow: wrap;
  margin: -0.8rem;

  @include brp.sm-up {
    flex: 1 1 26rem;
    justify-content: flex-end;
    margin-left: auto;
  }
}

.tagListItem {
  margin: 0.8rem;
}
