<!-- prettier-ignore -->
{% assign assetsPath = '/assets/' | append: page.slug %}
{% assign cssUrl = assetsPath | append: '/styles.css' | relative_url %}
{% assign scriptUrl = assetsPath | append: '/script.js' | relative_url %}
{% assign faviconUrl = assetsPath | append: '/favicon-32x32.png' | relative_url %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} | HTML Templates</title>
    <meta
      name="description"
      content="A frontendmentor.io '{{ page.challenge }}' challenge solution by Alex Kim"
    />
    <meta name="author" content="Alex Kim, https://github.com/Alex-K1m" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ faviconUrl }}" />
    <link rel="stylesheet" href="{{ cssUrl }}" />
    {% if page.includeJs %}
    <script src="{{ scriptUrl }}" async></script>
    {% endif %}
  </head>
  <body>
    {{ content }}
  </body>
</html>
