doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Home | site.title
  meta(
    name='description',
    content='A set of html templates that i make for practicing core web coding skills.'
  )
  meta(name='author', content='Alex Kim, https://github.com/Alex-K1m')
body
  h1 HTML Templates
  h2 This page is under construction
  h3 List of completed Frontend Mentor challenges
  ul
    li
      a(href='/four-card-feature-section') Four card feature section
