doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Home | #{site.title}
    meta(
      name='description'
      content='A set of html templates that i make for practicing core web coding skills.'
    )
    meta(name='author' content='Alex Kim, https://github.com/Alex-K1m')
  body
    h1 HTML Templates
    h2 This page is under construction
    h3 List of completed Frontend Mentor challenges
    ul
      li: a(href='article-preview-component') Arcticle preview component
      li: a(href='base-apparel-coming-soon-page') Base Apparel
      li: a(href='coding-bootcamp-testimonials-slider') Testimonials slider
      li: a(href='four-card-feature-section') Four Card
      li: a(href='fylo-data-storage-component') Data storage component
      li: a(href='fylo-landing-page-with-two-column-layout') Fylo landing
      li: a(href='huddle-landing-page-with-alternating-feature-blocks') Huddle alternating
      li: a(href='huddle-landing-page-with-single-introductory-section') Huddle single
      li: a(href='intro-component-with-signup-form') Intro component
      li: a(href='ping-coming-soon-page') Ping
      li: a(href='single-price-grid-component') Single price component
