extends ../../../includes/layout

block variables
  - const title = "Project tracking intro component";

block fonts
  +googleFonts([ 'family=Barlow&display=swap&text=Project%20planigdmkfs', 'family=Barlow+Condensed&display=swap&text=MONGRAPH%20DSBTEVIW', 'family=Barlow+Condensed:wght@700&display=swap&text=NEW%20PORFULISGHTYAMCD', ])

block content
  .wrapper
    header.header
      img.logo(src='logo.svg' alt='Project tracker logo')
      nav.menu
        input#menuToggle.srOnly.menu_checkbox(type='checkbox')
        label.menu_hamburger(for='menuToggle')
          span
          span
          span
        ul.menu_list
          each label in ['Product', 'Features', 'Pricing']
            li: a.menu_link(href='javascript:void(0)') #{label}
          hr.menu_separator
          li.menu_last: a.menu_link(href='javascript:void(0)') Login

//- 
  New
  Monograph Dashboard
  
  Powerful insights into your team
  Project planning and time tracking for agile teams
  
  Schedule a demo
  to see a live preview
