extends ../../../includes/layout

block variables
  -
    const title = 'Feature section using css grid';
    const slug = 'four-card-feature-section';
    const difficulty = 'newbie';
    const order = 1;

block content
  section.feature
    header.feature_header
      h2.feature_heading.text.text-h2
        | Reliable, efficient delivery
        br
        span.text-strong Powered by Technology
      p.feature_caption.text
        | Our Artificial Intelligence powered tools use millions of project data
        | points to ensure that your project is successful
    ul.feature_list
      li.card
        h3.card_heading.text.text-h3 Supervisor
        p.card_text.text.text-sm
          | Monitors activity to identify project roadblocks
        .card_icon
      li.card
        h3.card_heading.text.text-h3 Team Builder
        p.card_text.text.text-sm
          | Scans our talent network to create the optimal team for your project
        .card_icon
      li.card
        h3.card_heading.text.text-h3 Karma
        p.card_text.text.text-sm
          | Regularly evaluates our talent to ensure quality
        .card_icon
      li.card
        h3.card_heading.text.text-h3 Calculator
        p.card_text.text.text-sm
          | Uses data from past projects to provide better delivery estimates
        .card_icon
