// stylelint-disable max-nesting-depth

@import 'reset';
@import 'defaults';

// #region Components

.heading {
  font: 600 2rem/150% Poppins, sans-serif;
  margin: 0;
  text-transform: capitalize;
  @include sm-up {
    font-size: 2.4rem;
  }
  @include lg-up {
    font-size: 2.8rem;
  }

  &-lg {
    font-size: 2.4rem;
    @include sm-up {
      font-size: 3.2rem;
    }
    @include lg-up {
      font-size: 4rem;
    }
  }
}

.text {
  font: 400 1.6rem/150% Open Sans, sans-serif;
  margin: 0;
  @include lg-up {
    font-size: 1.8rem;
  }

  &-link {
    color: inherit;
    text-decoration: none;

    &:focus {
      outline: 0.1rem solid $c-pink;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.colorLight {
  color: $c-very-pale-cyan;
}

.colorDark {
  color: $c-very-dark-cyan;
}

.colorGray {
  color: $c-grayish-blue;
}

.logo {
  background: url('../images/logo.svg') left center no-repeat;
  background-size: 100% 100%;
  height: 1.6rem;
  width: 10.4rem;
  @include sm-up {
    height: 2.4rem;
    width: 15.2rem;
  }
  @include lg-up {
    height: 3.2rem;
    width: 20rem;
  }

  &-light {
    background: $c-light;
    mask: url('../images/logo.svg') no-repeat center / contain;
  }

  &-lg {
    height: 2.7rem;
    width: 16.8rem;
    @include lg-up {
      height: 4rem;
      width: 24rem;
    }
  }
}

.button {
  background: $c-light;
  border: 0.1em solid $c-light;
  border-radius: 1.1em;
  box-shadow: 0 0.4em 0.6em hsla(0, 0%, 0%, 0.1);
  color: $c-very-dark-cyan;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.3em 2.1em 0.5em;
  text-transform: capitalize;
  transition: 0.2s;
  @include sm-up {
    border-radius: 2em;
    padding: 0.9em 3.1em 1.3em;
  }
  @include lg-up {
    border-radius: 2.4em;
    padding: 1.2em 6.3em 1.5em;
  }

  &:focus {
    border: 0.1em solid $c-very-dark-cyan;
    outline: none;
  }

  &:hover {
    box-shadow: 0 0.5em 0.8em hsla(0, 0%, 0%, 0.3);
  }

  &:active {
    filter: brightness(0.9);
    transform: scale(0.98);
  }

  &__label {
    font: 700 1em/140% Open Sans, sans-serif;
    @include sm-up {
      font-size: 1.2em;
    }
    @include lg-up {
      font-size: 1.4em;
    }
  }

  &-accent {
    background: $c-pink;
    border: 0.1em solid $c-pink;
    border-radius: 2em;
    color: $c-light;
    padding: 0.9em 3.1em 1.3em;
    @include lg-up {
      border-radius: 2.8em;
      padding: 1.6em 3.1em 1.9em;
    }

    > .button__label {
      font-size: 1.2em;
      @include lg-up {
        font-size: 1.4em;
      }
    }
  }
}

.illustration {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 81.3%;
  width: 100%;
  @include lg-up {
    padding-bottom: 80.5%;
  }
}

.paper {
  background: $c-light;
  border-radius: 1.4rem;
  box-shadow: 0 0 1.4rem hsla(0, 0%, 0%, 0.1);
}

.feature {
  align-content: start;
  display: grid;
  grid-gap: 3.2rem;
  padding: 3.2rem 4rem;
  text-align: center;
  @include sm-up {
    align-items: center;
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
  @include lg-up {
    grid-gap: 16.6rem;
    grid-template-columns: auto auto;
    padding: 5.2rem 2.6rem 5.2rem 12rem;
  }

  &__image {
    padding: 2.4rem 0.8rem;
    @include sm-up {
      padding: 2.4rem 0;
    }
    @include lg-up {
      padding: 0;
      width: 41.8rem;
    }
  }

  &__content {
    display: grid;
    grid-gap: 1.4rem;
    @include lg-up {
      grid-gap: 1.2rem;
    }
  }

  &__text {
    @include xs-only {
      font-size: 1.4rem;
    }
  }
}

.contacts {
  padding-left: 4rem;

  &__list {
    display: grid;
    grid-gap: 2.4rem;
    list-style: none;
    margin: 0;
    padding: 0;
    @for $i from 1 through length($contacts-icons) {
      :nth-child(#{$i})::before {
        background: url('../images/#{nth($contacts-icons, $i)}') left center / contain no-repeat;
      }
    }
  }

  &__item {
    padding-right: 0.1rem;
    position: relative;

    &::before {
      content: '';
      display: block;
      height: 2rem;
      left: -3.8rem;
      position: absolute;
      top: 0.3rem;
      width: 2rem;
    }
  }
}

.nav {
  justify-self: stretch;

  &__list {
    align-items: start;
    display: grid;
    grid-gap: 1.6rem;
    list-style: none;
    margin: 0;
    padding: 0;
    @include lg-up {
      grid-auto-flow: column;
      grid-column-gap: 28.57%;
      grid-row-gap: 1.6rem;
      grid-template: repeat(3, auto) / repeat(2, 1fr);
    }
  }

  &__link {
    font-size: 1.8rem;
  }
}

.social {
  display: grid;
  font-size: 1rem;
  grid-gap: 1.2em;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: block;
  }

  &__link {
    align-items: center;
    background: transparent;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.1em $c-light;
    color: $c-light;
    display: flex;
    height: 3.2em;
    justify-content: center;
    transition: 0.2s;
    width: 3.2em;

    &:focus,
    &:hover {
      background: $c-light;
      color: $c-very-dark-cyan;
      outline: none;
    }
  }
}

.icon {
  height: 50%;
  width: 50%;
}

.copyright {
  font: 600 1.2rem/140% Poppins, sans-serif;
  letter-spacing: -0.01em;
  margin: 0;
  text-align: center;
}

// #endregion Components

// #region Layout

.content {
  position: relative;
}

.header {
  padding: 2.4rem 1.6rem 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  @include sm-up {
    padding: 3.2rem 3.2rem 0;
  }
  @include lg-up {
    padding: 4.8rem 8rem 0;
  }

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    @include lg-up {
      margin: 0 auto;
      max-width: 128rem;
    }
  }
}

.hero {
  background: url('../images/bg-hero-mobile.svg') top center no-repeat, $c-very-pale-cyan;
  background-size: 100%;
  padding: 13rem 3.6rem 3.3rem;
  position: relative;
  @include sm-up {
    padding-bottom: 5rem;
  }
  @include md-up {
    background-image: url('../images/bg-hero-desktop.svg');
    padding: 16rem 8rem 6.6rem;
  }

  &__container {
    display: grid;
    grid-gap: 5.2rem;
    @include sm-up {
      margin: 0 auto;
      max-width: 54rem;
    }
    @include md-up {
      grid-gap: 3.2rem;
      grid-template-columns: 1fr 1fr;
      max-width: unset;
    }
    @include lg-up {
      align-items: center;
      grid-gap: 6.4rem;
      grid-template-columns: 65fr 87fr;
      max-width: 128rem;
    }
  }

  &__content {
    text-align: center;
    @include sm-up {
      padding: 0 7.8rem;
    }
    @include md-up {
      padding: 0;
      text-align: left;
    }
    @include lg-up {
      margin-top: 1.4rem;
    }
    @include lg-up {
      :not(:first-child) {
        margin-top: 3rem;
      }
    }

    :nth-child(2) {
      margin-top: 2.2rem;
    }

    :nth-child(3) {
      margin-top: 3.2rem;
    }
  }

  &__button {
    width: 24rem;
    @include lg-up {
      width: 28rem;
    }
  }

  &__image {
    background-image: url('../images/illustration-mockups.svg');
    padding-bottom: 71.3%;
  }
}

.features {
  background: $c-light;
  padding: 6rem 2rem 23rem;
  @include sm-up {
    padding-top: 10rem;
  }
  @include md-up {
    padding: 16rem 10.4rem 34.3rem;
  }

  &__container {
    display: grid;
    grid-auto-rows: 1fr;
    grid-gap: 4rem;
    list-style: none;
    margin: 0;
    padding: 0;
    @include sm-up {
      margin: 0 auto;
      max-width: 123.2rem;

      :nth-child(odd) .feature__image {
        order: 1;
      }
    }
    @for $i from 1 through length($illustrations) {
      :nth-child(#{$i}) .illustration {
        background-image: url('../images/#{nth($illustrations, $i)}');
      }
    }
  }
}

.cta {
  bottom: -6.7rem;
  left: 50%;
  padding: 4.4rem 1.6rem 4rem;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: 35.1rem;
  @include sm-up {
    padding: 5rem 3rem;
    width: 48rem;
  }
  @include lg-up {
    bottom: -9.5rem;
    padding: 6.4rem 10rem 5.2rem;
    width: 80rem;
  }

  &__heading {
    font-size: 1.8rem;
    @include sm-up {
      font-size: 2.4rem;
    }
    @include lg-up {
      font-size: 3.2rem;
    }
  }

  &__button {
    margin-top: 2.4rem;
    width: 20rem;
    @include xs-only {
      > .button__label {
        font-size: 1em;
        line-height: 160%;
      }
    }
    @include sm-up {
      margin-top: 3rem;
      width: 24rem;
    }
    @include lg-up {
      font-size: 1.4rem;
      margin-top: 3.6rem;
      width: 40rem;
    }
  }
}

.footer {
  background: $c-very-dark-cyan;
  padding: 13.8rem 1.6rem 4.6rem;
  @include sm-up {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  @include md-up {
    padding: 19rem 8rem 6.4rem 12rem;
  }

  &__container {
    @include sm-up {
      display: grid;
      grid-column-gap: 8rem;
      grid-row-gap: 2.4rem;
      grid-template:
        'footer_logo      footer_logo' auto
        'footer_contacts  footer_nav' auto
        'footer_social    footer_social' auto
        'footer_copyright footer_copyright' auto
        / 2fr 1fr;
    }
    @include md-up {
      grid-template:
        'footer_logo      footer_logo      footer_logo' auto
        'footer_contacts  footer_nav       footer_social' auto
        'footer_copyright footer_copyright footer_copyright' auto
        / 2fr 1fr 1fr;
    }
    @include lg-up {
      grid-column-gap: 9.68%;
      grid-row-gap: 4rem;
      grid-template:
        'footer_logo      footer_logo      footer_logo' auto
        'footer_contacts  footer_nav       footer_social' auto
        'footer_copyright footer_copyright footer_copyright' auto
        / 39fr 35fr 26fr;
      justify-items: start;
      margin: 0 auto;
      max-width: 124rem;
    }
  }

  &__logo {
    grid-area: footer_logo;
  }

  &__contacts {
    grid-area: footer_contacts;
    @include xs-only {
      margin-top: 2.4rem;
    }
    @include lg-up {
      font-size: 1.6rem;
    }
  }

  &__nav {
    grid-area: footer_nav;
    @include xs-only {
      margin-top: 5.6rem;
    }
  }

  &__social {
    grid-area: footer_social;
    @include xs-only {
      margin-top: 5.3rem;
    }
  }

  &__copyright {
    grid-area: footer_copyright;
    @include xs-only {
      margin-top: 2.4rem;
    }
    @include md-up {
      justify-self: end;
    }
  }
}

// #endregion Layout
